[2018-09-27 09:56] championswimmer opened #7 "turn oneauth login into a library"

[2018-09-27 09:56] championswimmer opened #8 "use jsonapi-converter with retrofit"

[2018-09-30 03:30] aggarwalpulkit596 commented on #8
Closed via #6

[2018-09-30 03:30] #8 closed

[2018-10-05 18:20] aggarwalpulkit596 opened #12 "make a library for svg rendering using glide"

[2018-10-07 10:17] championswimmer opened #13 "setup travis and circle ci for builds"

[2018-10-09 12:21] abhishek97 opened #15 "Use Image assets from here"
https://github.com/coding-blocks/codingblocks.online.projectx/tree/master/public/images

[2018-10-25 05:46] aggarwalpulkit596 commented on #13
Closed via #14

[2018-10-25 05:46] #13 closed

[2018-10-27 10:52] aggarwalpulkit596 commented on #12
https://github.com/coding-blocks/CBOnlineApp/blob/556f26991b487e88f75b880c62a533efbc890030/app/src/main/java/com/codingblocks/cbonlineapp/adapters/CourseDataAdapter.kt#L96

//link to the library I am using for the SVG rendering
https://github.com/ar-android/AndroidSvgLoader

[2018-10-30 18:07] aggarwalpulkit596 commented on #12
Resolved in #17

[2018-10-30 18:07] #12 closed

[2018-11-10 02:48] #7 closed

[2018-11-15 21:27] championswimmer opened #20 "use androidx version of room, not the pre-androidX style (android.aarch)"

[2018-11-16 10:02] championswimmer opened #22 "turn font to Cabin light"
looks too bold

[2018-11-16 10:02] championswimmer opened #23 "perf benchmark all course page scroll and optimise"

[2018-11-17 04:01] #20 closed

[2018-11-17 09:34] #22 closed

[2018-11-17 11:40] championswimmer commented on #22
don't close untill the respective commit is pushed into a branch here.

[2018-11-17 19:49] aggarwalpulkit596 opened #24 "use Arraylist to create Relationship"
@championswimmer bhaiya should we use ArrayList as an embedded object to create relationships among different classes rather creating this relationship manually as we are getting a nested object structure and from the api call straight forward and relationship are required when we need to manually create relationship between two seperate classes @the-dagger bhaiya your thoughts on this ?

[2018-11-17 19:49] aggarwalpulkit596 commented on #24
https://stackoverflow.com/questions/44986626/android-room-database-how-to-handle-arraylist-in-an-entity

[2018-11-17 20:33] aggarwalpulkit596 commented on #24
i'm testing this structure today if I'm able to save the values in all the tables from a single db call i think we can skip the many to many relationships because we can't directly access sections directly until we have top-level ids

[2018-11-18 03:43] championswimmer commented on #24
Thumbrule of Databases - many-many relationships are not possible without mapping tables.
Please do not forget school level SQL when doing Android.

Do embedded ArrayLists make mapping tables ?

[2018-12-02 15:29] aggarwalpulkit596 opened #28 "Make Embedded Objects in CourseContent for the rest of the objects"
https://github.com/coding-blocks/CBOnlineApp/blob/70f8b3065648beb0798c90ab0bdaf3f7301be568/app/src/main/java/com/codingblocks/cbonlineapp/database/DbModel.kt#L127

[2018-12-05 09:11] the-dagger opened #29 "Show documents in the course contents"
The documents should be shown alongside the videos in course contents

[2018-12-05 18:57] aggarwalpulkit596 commented on #29
Closed via #27

[2018-12-05 18:57] #29 closed

[2018-12-05 20:11] aggarwalpulkit596 commented on #28
Closed via #27

[2018-12-05 20:12] #28 closed

[2018-12-06 13:16] aggarwalpulkit596 opened #30 "Looper.prepare crash"
https://github.com/coding-blocks/CBOnlineApp/blob/0c089e16df940d216dc12d7e580e25a38a446888/app/src/main/java/com/codingblocks/cbonlineapp/activities/MyCourseActivity.kt#L134

[2018-12-07 06:30] #30 closed

[2018-12-07 11:15] championswimmer opened #31 "youtube url regex"
`http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?`

[2018-12-13 12:27] the-dagger opened #34 "Crash while initializing youtube player"
Go to all courses and click on a course, the app crashes with the following log :

[code]

[2018-12-13 12:27] the-dagger opened #35 "Crash while initializing youtube player"
Go to all courses and click on a course, the app crashes with the following log :

[code]

[2018-12-14 01:53] aggarwalpulkit596 commented on #34
Duplicate of #35

[2018-12-14 01:53] #34 closed

[2018-12-14 10:28] aggarwalpulkit596 opened #37 "Unable to handle Many to Many Relationship Correctly"
https://github.com/coding-blocks/CBOnlineApp/blob/52187f1b5b1485567623f91f0856233812737764/app/src/main/java/com/codingblocks/cbonlineapp/database/DbModel.kt#L58
Unable to show same instructors in two courses

[2018-12-18 07:35] #37 closed

[2018-12-18 07:36] #35 closed

[2018-12-18 07:36] the-dagger commented on #37
This is fixed

[2018-12-18 07:36] the-dagger commented on #35
This crash is fixed in the recent commits

[2018-12-19 07:04] championswimmer opened #41 "implement search functionality in all courses page"

[2018-12-19 07:05] championswimmer opened #42 "pull down to refresh in home, all course and my course pages"

[2018-12-19 07:05] #23 closed

[2018-12-19 07:05] #24 closed

[2018-12-19 09:12] krnblni opened #47 "App crash after login"
Once the user tries to login into the app, it crashes each time the app is launched.

[2018-12-19 11:04] aggarwalpulkit596 commented on #42
Closed Via https://github.com/coding-blocks/CBOnlineApp/commit/e2b9d20d22a76654a8963675e06967f5a5227ca8

[2018-12-19 11:04] #42 closed

[2018-12-21 03:37] aggarwalpulkit596 commented on #41
Closed via https://github.com/coding-blocks/CBOnlineApp/commit/00192a4fbb0c9f645bf9b2de41c860dca8525bb7

[2018-12-21 03:37] #41 closed

[2018-12-21 09:42] aggarwalpulkit596 opened #59 "support for POST request using jsonapi"

[2018-12-22 06:20] aggarwalpulkit596 commented on #59
Closing via https://github.com/coding-blocks/CBOnlineApp/commit/257a9cdcbcfaa44cbbb31cd6e80b234e5a763441

[2018-12-26 13:45] aggarwalpulkit596 commented on #59
Closed Via https://github.com/coding-blocks/CBOnlineApp/pull/64/commits/949689cc881c35e6d94efdc9233cda62a08cc4b0

[2018-12-27 06:58] #59 closed

[2018-12-27 07:02] aggarwalpulkit596 commented on #47
Closing via https://github.com/coding-blocks/CBOnlineApp/commit/a9d094fa0442ee5f3107dbdde36f96903cb947c0

[2018-12-27 07:02] #47 closed

[2018-12-28 10:12] aggarwalpulkit596 opened #65 "Setup gradle play publisher"

[2019-01-06 16:51] #31 closed

[2019-01-11 09:52] #15 closed

[2019-01-11 09:53] the-dagger opened #71 "Use radiobutton for quiz options"
Replace the current logic with normal radiobuttons followed by radiobuttons with a custom drawable.
@aggarwalpulkit596

[2019-01-20 14:49] aggarwalpulkit596 opened #76 "Bugs/Improvements List"
- [ ]  Show Quiz Result on quiz submission
- [ ] show marked/unmarked status in quiz bottom question sheet
- [x] bottom sheet gets dismissed completed on swiping down[Bug]
- [ ] show small rating bar in anko course card layout

[2019-01-22 19:09] the-dagger commented on #76
Set the min peek height, us se ho jayega fix I think

[2019-02-15 05:04] aggarwalpulkit596 opened #90 "Cache SVG for offline loading of course log/poster images"

[2019-02-15 05:07] aggarwalpulkit596 commented on #90
https://developer.android.com/topic/performance/graphics/cache-bitmap @championswimmer should i try this method

[2019-02-19 14:33] championswimmer commented on #90
Via memory cache using LRU ? That sounds like a good method.

[2019-02-19 14:33] championswimmer commented on #90
I think we should use a Disk cache rather

[2019-02-28 09:07] aggarwalpulkit596 commented on #90
Closed vi #101

[2019-02-28 09:07] #90 closed

[2019-05-06 23:33] aggarwalpulkit596 opened #146 "show marked question in quiz sheet"
**Describe the feature you'd like**
Show marked items in the quiz bottom similar to web

[2019-05-06 23:42] aggarwalpulkit596 opened #147 "Integrate Koin"
Integrate Koin With api for retrofit calls,common for shared preferences and other system related thing and database module for dao's

[2019-05-09 20:02] Zyro9922 commented on #146
Can you explain more what how do you want it to be?

[2019-05-09 20:27] Zyro9922 commented on #146
How do you want it and how does it look on the web? Haven't tried any quiz on CB website

[2019-05-11 15:19] aggarwalpulkit596 commented on #146
You can try by playing one by enrolling in Android trail course  it does have the quiz in free section you play that you'll know

[2019-05-11 15:21] aggarwalpulkit596 opened #151 "Show leaderboard in Course Consumption Page"
**Describe the feature you'd like**
Show leaderboard in the course consumption page

[2019-05-14 07:52] aggarwalpulkit596 opened #152 "Add Tags Section to Course Activity"
For reference see image below
![Screenshot 2019-05-14 at 1 20 39 PM](https://user-images.githubusercontent.com/29139786/57680484-5b6cea00-764b-11e9-8fba-a206d6c798f6.png)

[2019-05-14 08:04] aggarwalpulkit596 opened #153 "Create Quiz Result Screen"
References
![Screenshot 2019-05-14 at 1 33 41 PM](https://user-images.githubusercontent.com/29139786/57681231-ebf7fa00-764c-11e9-81e0-474f2e568c75.png)

[2019-05-14 10:48] jddeep commented on #146
@aggarwalpulkit596 I would like to work on this issue as a part of BOSS 2019. Can you guide me through what is the issue here? Thanks

[2019-05-14 10:50] jddeep commented on #147
@aggarwalpulkit596 I would like to look into this.

[2019-05-14 11:14] luckyman20 opened #154 "Dropdown in Course section not working"
**Describe the bug**
When you see any course and go to its `What will you learn` section, there are cards representing each section of the course. When you click on the card, it will expand but when you click on the dropdown button, nothing happens.

There are solutions I can think of - remove the dropdown button or make it workable.

**To Reproduce**
Home -> Go to any Course -> `What will you lea

[2019-05-14 11:18] aggarwalpulkit596 commented on #147
Sure Go ahead

[2019-05-14 11:19] aggarwalpulkit596 commented on #146
Implementation similiar to web
![Screenshot 2019-05-14 at 1 33 30 PM](https://user-images.githubusercontent.com/29139786/57693974-23c06b00-7668-11e9-920f-a2c6855ab140.png)

[2019-05-14 11:21] aggarwalpulkit596 commented on #146
The current implementation  of the bottom sheet doesn't show any marked/correct/incorrect quiz response in the bottom sheet

[2019-05-14 11:27] luckyman20 opened #155 "Refactor: Text is Hard-coded"
**Describe the feature you'd like**
Currently, in many XML files, the text is hard-coded while it should be placed in `strings.xml` file.

**Additional context**
If placed in `strings.xml` then we can introduce the Hindi language too.

**Would you like to work on the issue?**
- [x] Yes

[2019-05-14 11:35] codedsun opened #156 "Login Activity layout error in landscape mode"
**Describe the bug**

The login activity has layout currently for portrait and it's not properly visible in landscape mode

**To Reproduce**
Open the app

**Expected behavior**
The activity should be portrait or a new layout for landscape should be made.

**Logs**
None

**Screenshots**
![screenshot-1557833704284](https://user-images.githubusercontent.com/20026440/57694865-77cc4f00-766a-11e9-8df0-b

[2019-05-14 11:37] jddeep commented on #146
Okay I will look into that.

[2019-05-14 11:37] codedsun opened #157 "Refactor the whole code"
**Describe the bug**
The app is currently not following standards of dimens, string, colors and constants. Need to refactor it according to the standards.

**Expected behavior**
It should be following it.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-05-14 11:45] aggarwalpulkit596 commented on #156
Make a seperate layout for landscape

[2019-05-14 11:47] aggarwalpulkit596 commented on #157
You can't refractor the entire project in one go and neither i can check it try
You can start by doing one activity/fragment at a time

[2019-05-14 11:51] codedsun commented on #157
@aggarwalpulkit596 I just initiated an issue here, just to refer every time a PR is submitted regarding the same.

[2019-05-14 12:34] codedsun commented on #157
@aggarwalpulkit596 I see in layout files, we have used snackcase and for some we have used camelcase, what should be the best to go with?

[2019-05-14 12:48] aggarwalpulkit596 commented on #157
camelCase 🙂

[2019-05-14 17:52] anujji1999 commented on #153
@aggarwalpulkit596 can you please explain the issue?
Do we have to create this screen?
Or is there any problem with the screen?

[2019-05-14 17:54] aggarwalpulkit596 commented on #153
Create this screen in the Android app

[2019-05-14 17:56] aggarwalpulkit596 commented on #154
It isn't drop-down it is a list and and you can a progressloader or a shimmer layout there

[2019-05-14 18:15] raystatic commented on #152
how will i get the topic names for a particular course and currently there is a section called "What will you learn" in this activity.. is it similar to that?

[2019-05-14 18:28] aggarwalpulkit596 commented on #152
Yes it is the same activity and there is already a class tags which is populated in the v2/course-id end point you just have to inflate them using a chip group

[2019-05-14 19:12] thedevelopersanjeev commented on #153
I would like to work on this issue @aggarwalpulkit596

[2019-05-14 20:17] raystatic commented on #146
if it is still open I would like to work on it

[2019-05-14 20:24] aggarwalpulkit596 commented on #146
@raystatic sure go ahead

[2019-05-14 23:25] thedevelopersanjeev commented on #153
This is the layout that I have created...
![cbquizresult](https://user-images.githubusercontent.com/34043056/57738505-6bc5a900-76cd-11e9-8931-03e47c75e40c.jpg)
Please review @aggarwalpulkit596
Suggestions are welcome : )

[2019-05-15 03:25] aggarwalpulkit596 commented on #153
LGTM

[2019-05-15 03:47] thedevelopersanjeev commented on #153
PR Created @aggarwalpulkit596

[2019-05-15 11:51] codedsun opened #163 "Issues in Contact Us"
**Describe the bug**
Contact US On Navigation Drawer has following error
1. Toolbar Back press not working
2. Toolbar name is wrong
3. Toll free number is not cliclacble
4. Address has for some text issues, where characters cant be displayed
5. I think it needs update for all the centres of CB

**To Reproduce**
1. Go to Contact us from nav drawer

**Expected behavior**
The above should not be thei

[2019-05-15 11:59] #156 closed

[2019-05-15 12:25] codedsun commented on #163
@aggarwalpulkit596 How is the bounty calculated? and what shall be the layout for displaying all the center info?

[2019-05-15 12:38] aggarwalpulkit596 opened #164 "Add free label to free section of trial course in My Course Activity"

[2019-05-15 14:32] luckyman20 commented on #164
@aggarwalpulkit596 I would like to work on this issue :)

[2019-05-15 14:43] aggarwalpulkit596 commented on #164
Go ahead

[2019-05-15 14:47] aggarwalpulkit596 commented on #163
It usually depends upon the complexity of work and keep the layout simple just make a scrollview and add all of the details just the way it is currently shown for a single center

[2019-05-15 16:18] mannprerak2 commented on #163
i would like to work on this too

[2019-05-15 16:53] mannprerak2 commented on #163
please review my PR, #165

And I think for showing all the centers we should instead use a button to open the CB website
because details may become stale as its currently hardcoded
This should be done in a different PR as complete remodeling of the AboutActivity UI is required

[2019-05-15 17:00] aggarwalpulkit596 commented on #163
These details do not change office address, number are not going to change for a long time period and it's hardcoded in the website itself and just make 3 copies of the current layout and add the information from website

[2019-05-15 17:08] mannprerak2 commented on #163
okay sure

[2019-05-15 18:44] #163 closed

[2019-05-15 18:50] #65 closed

[2019-05-15 18:50] #71 closed

[2019-05-15 19:19] mannprerak2 opened #166 "Bad current drawer item status"
**Describe the bug**
Wrong indication of currently open screen in drawer menu

**To Reproduce**
 Wrong indication of open screen

**Expected behavior**
These drawer menu should indicate currently open screen

**Screenshots**
![Screenshot_20190516-000457__01](https://user-images.githubusercontent.com/31154435/57802827-74bd8580-7774-11e9-9da4-1bbea634277d.jpg)

**Would you like to work on the issue?

[2019-05-15 19:24] imashwani commented on #151
Can i take up the issue @aggarwalpulkit596 ?

[2019-05-15 19:54] codedsun commented on #163
@aggarwalpulkit596 Is this allowed that someone else can take the work widout even asking? And that too the PR gets merged.
I was working on this and was to send a PR.

[2019-05-15 19:58] aggarwalpulkit596 commented on #163
@codedsun no actually this is my mistake will make sure this will not happen in future .
Don't worry I'll make it upto you in you next PR

[2019-05-16 03:59] mannprerak2 commented on #163
@codedsun I am really sorry about this, I did notice most of these bugs and saw your issue before i could file mine.
I'll be sure to ask firsthand next time before starting to work
But i think sometimes clashes are bound to happen

[2019-05-16 09:47] #166 closed

[2019-05-16 11:33] jddeep opened #170 "Add databinding to activities."
With the databinding library of android the boilerplate code could be reduced alot.

[ ]  Add databinding to activities
[ ]  Add databinding to adapters
[ ]  Add databinding to fragments

**Would you like to work on issue**
Yes

[2019-05-16 11:34] jddeep commented on #170
@aggarwalpulkit596 Please add bounty labels to this.

[2019-05-16 12:02] aggarwalpulkit596 commented on #170
@jddeep start with recycler view adapter first

[2019-05-16 12:10] shubhamofbce commented on #164
I would like to solve this issue

[2019-05-16 12:35] ShridharGoel opened #171 "App crashes on refreshing in All Courses"
**Describe the bug**
App crashes on refreshing in All Courses

**To Reproduce**
1. Go to All Courses.
2. Refresh by swiping down.
3. App will crash.

**Expected behavior**
App shouldn't crash and the list should reload.

**Logs**
[code]

**GIF**
![ezgif com-video-to-gif (76)](https://user-images.githubusercontent.com/35566748/57866121-6cb92080-781c-11e9-941a-b833f5c363c3.gif)

**Would you like to

[2019-05-16 13:54] SaumyaSingh1 commented on #155
Please add the bounty for this issue .

[2019-05-16 14:19] aggarwalpulkit596 commented on #155
i will add the bounty depending upon the work done in the PR

[2019-05-16 14:39] ShridharGoel commented on #171
@aggarwalpulkit596 Please add bounty labels.

[2019-05-16 14:59] mannprerak2 commented on #171
It's not crashing in my device
Can u send a screen recording ?

[2019-05-16 15:17] ShridharGoel commented on #171
@mannprerak2 Added in issue description.

[2019-05-16 16:58] ShridharGoel opened #173 "Update gradle to 3.4.1"
**Describe**
Update gradle version to 3.4.1

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-05-16 17:33] #173 closed

[2019-05-16 20:39] thedevelopersanjeev opened #175 "Display a warning dialog before ending the quiz attempt screen."
**Describe the feature you'd like**
There is no warning displayed when we end the quiz while attempting. There should be warning like `You have not submitted the quiz, your score will not be updated`
and add submit/cancel button on the warning dialog.

[2019-05-17 14:18] aggarwalpulkit596 opened #178 "Implement ViewModels for Course and Video Activities"
**Describe the feature you'd like**
Implement View Models for Course And Video Activities with koin

[2019-05-17 14:19] aggarwalpulkit596 opened #179 "Implement Dynamic App Shortcut"
**Describe the feature you'd like**
Implement Dynamic App Shortcut for course with maximum usage similar to like WhatsApp implementation

References
https://developer.android.com/guide/topics/ui/shortcuts

[2019-05-17 14:21] aggarwalpulkit596 opened #180 "Fix MyCourses Swipe to Refresh"
**Describe the feature you'd like**
Swipe to Refresh in My Courses Fragment keeps on loading data

[2019-05-17 14:34] aggarwalpulkit596 opened #181 "Improvise Quiz Activty"
**Describe the feature you'd like**
There are multiple issues in the quiz so I'll be breaking into separate PR's

- [x] Inappropriate flow of quiz - quiz has an inappropriate flow it should follow a proper flow with proper confirmation at every point

- [x] Incorrect Shimmer Layout for Quiz

- [x] Improve Previous Attempts leaderboard

- [ ] Improve Quiz Layout

- [x] Incorrect Time in Quiz Attemp

[2019-05-17 14:36] #147 closed

[2019-05-17 14:36] aggarwalpulkit596 commented on #171
Closed via #177

[2019-05-17 14:38] aggarwalpulkit596 opened #182 "Write Unit test Every for Api defined in OnlineRestApi and OnlineJsonApi"

[2019-05-17 15:03] ShridharGoel commented on #180
I would like to work on this.

[2019-05-17 16:55] #153 closed

[2019-05-17 17:02] adityastic commented on #178
I would like to work on this issue

[2019-05-17 17:13] thedevelopersanjeev commented on #175
Can I start working on this issue @aggarwalpulkit596

[2019-05-17 17:23] aggarwalpulkit596 commented on #175
See #181

[2019-05-17 20:51] thedevelopersanjeev commented on #181
I would like to work on this issue.

[2019-05-18 01:38] raibove commented on #182
can I work on this issue

[2019-05-18 05:58] rkishan516 commented on #179
I would like to work on this.

[2019-05-18 06:30] aggarwalpulkit596 commented on #179
@rkishan516 Go Ahead

[2019-05-18 08:23] SaumyaSingh1 commented on #164
But free label is already marked here.

![image](https://user-images.githubusercontent.com/46818757/57966771-07784300-7974-11e9-8979-6ac47b141fee.png)

Am I right ? Please guide .

[2019-05-18 08:24] aggarwalpulkit596 commented on #164
Add it to course individual sections

[2019-05-18 08:25] luckyman20 commented on #164
@SaumyaSingh1 You have to mark the sections of course content that are free, I guess.

Also, sorry, I won't be able to work on this issue anymore.

[2019-05-18 08:30] SaumyaSingh1 commented on #164
Free label in few sections , is it something like this ...
![image](https://user-images.githubusercontent.com/46818757/57966855-5377b780-7975-11e9-922a-8a42116db81b.png)

[2019-05-18 08:31] aggarwalpulkit596 commented on #164
Yes exactly like this

[2019-05-18 08:33] SaumyaSingh1 commented on #164
so, upto how many sections should we mark free label ? And are we supposed to do this in all the courses ?

[2019-05-18 08:34] aggarwalpulkit596 commented on #164
For all the sections which are not premium and obviously yes for all the courses

[2019-05-18 08:34] SaumyaSingh1 commented on #164
okay :)

[2019-05-18 10:12] SaumyaSingh1 commented on #164
@aggarwalpulkit596 I have added the free label . looks like this ..
![image](https://user-images.githubusercontent.com/46818757/57968051-20d4bb80-7983-11e9-8638-eb1d1a03d3aa.png)

But right now the label is for all sections . Need sometime to make it confined to the sections which are not premium :)

[2019-05-18 10:15] aggarwalpulkit596 commented on #164
Does it good to you ? I don't think so make design similar to website

[2019-05-18 10:22] SaumyaSingh1 commented on #164
Okay i will make design similar to the website .

[2019-05-18 12:53] shubhamofbce commented on #164
@aggarwalpulkit596 From where can we know that which courses are free and which are not??

[2019-05-18 13:16] shubhamofbce commented on #164
![gradient in cb free](https://user-images.githubusercontent.com/45156638/57970290-2a6b1d00-799d-11e9-9dcf-39646a139703.jpeg)
I am also at this stage and now i just want to know that from where i can get the data that which courses are free and which are not????

[2019-05-18 14:33] shubhamofbce commented on #164
I did it.
Is it alright or @aggarwalpulkit596 you need more modificitaions??
Its working fine for all the courses.

![free working everywhere](https://user-images.githubusercontent.com/45156638/57971150-cef25c80-79a7-11e9-848d-769238e345d4.jpeg)

[2019-05-18 15:05] shubhamofbce commented on #164
Its all set now looking exactly like the website can i send a pr now??? @aggarwalpulkit596

![all set now](https://user-images.githubusercontent.com/45156638/57971479-6f4a8000-79ac-11e9-9a88-96422e306a0b.jpeg)

[2019-05-18 16:07] aggarwalpulkit596 commented on #164
If @SaumyaSingh1 is okay with this you can send a PR @shubhamofbce

[2019-05-18 16:29] shubhamofbce commented on #164
@aggarwalpulkit596 please review

[2019-05-18 16:40] aggarwalpulkit596 commented on #164
@shubhamofbce i told you @SaumyaSingh1 asked it first if she doesn't make a pr by tomorrow I'll your pr

[2019-05-18 16:54] shubhamofbce commented on #164
But i asked to work on this first , You can see the comments from the begining. I asked two days ago she commented today.

[2019-05-18 16:55] aggarwalpulkit596 commented on #164
@SaumyaSingh1 i guess it's okay then

[2019-05-18 17:08] shubhamofbce commented on #152
![ss for app](https://user-images.githubusercontent.com/45156638/57972868-b1c88880-79bd-11e9-9911-da8541bd693b.jpeg)

[2019-05-18 18:01] shubhamofbce commented on #164
Thank you @aggarwalpulkit596 How can i claim my bounty

[2019-05-18 18:05] shubhamofbce commented on #180
I can't understand the issue properly In my phone when i swipe to refresh the app loads the data within few seconds

[2019-05-18 18:20] #171 closed

[2019-05-18 18:25] thedevelopersanjeev commented on #181
Should I create separate PR for each part or all will be done in a single PR? @aggarwalpulkit596

[2019-05-18 18:36] aggarwalpulkit596 commented on #181
Seperate PR would be fine

[2019-05-18 20:03] #152 closed

[2019-05-18 20:05] sahilbhosale63 commented on #178
I would like to work on this issue.

[2019-05-18 20:10] aggarwalpulkit596 commented on #178
Ask @adityastic first if he's okay with it you can start working

[2019-05-19 03:18] adityastic commented on #178
@aggarwalpulkit596 I'll be working on it

[2019-05-19 07:25] raystatic commented on #179
if this is still open i would like to work on it

[2019-05-19 07:46] rkishan516 commented on #179
Sorry, but I am working on this.

[2019-05-19 07:56] raystatic commented on #179
okay

[2019-05-19 08:47] #154 closed

[2019-05-19 08:47] #155 closed

[2019-05-19 08:47] #175 closed

[2019-05-19 11:10] raystatic opened #191 "bug in viewpager in home fragment"
In home fragment in viewpager, the after completing one cycle the view pager goes to second item instead of first
**To Reproduce**
1. Go to 'Home Fragment'
2. wait for completing one cycle of viewpager, after that it will go to second position instead of first

**Expected behavior**
After one cycle of viewpager, it should go to first position instead of second

**Smartphone Info:**

|

[2019-05-19 12:13] #191 closed

[2019-05-19 12:42] raystatic opened #193 "bug in batches recyclerview in course activity"
**Describe the bug**
While scrolling the bathes cards in course activity if we stop between two cards then it gets stuck there. Whereas it should move to card that is swiped more
**To Reproduce**
1. Go to 'bottom of course activity'
2. Scroll batches cards

**Expected behavior**
if we stop between two cards, then it should move to card that is swiped more
**Screenrecording**
![ezgif com-video-to-g

[2019-05-19 13:29] #193 closed

[2019-05-20 05:07] rkishan516 commented on #179
@aggarwalpulkit596 For using API we need minimum API 25 but current is 21.

[2019-05-20 05:15] aggarwalpulkit596 commented on #179
Obviously not if i want to implement a specific feature restricted to API>27 should i update min sdk to api 27 ? I don't thinks so

[2019-05-20 06:30] rkishan516 commented on #179
Yup, got it.

[2019-05-20 06:46] shubhamofbce commented on #151
I also want to work on this issue

[2019-05-20 06:48] shubhamofbce commented on #151
Where is that course consumption page??

[2019-05-20 06:52] shubhamofbce commented on #151
You want leaderboard on the overview page as it is on the website and is leaderboard only available for premium courses????

[2019-05-20 08:08] aggarwalpulkit596 commented on #151
yes exactly like the website and there is already leaderboard adapter you just have to show them
and the leaderboard is not for every course try enrolling to a different course c++ course have a leaderboard i guess

[2019-05-20 11:06] SaumyaSingh1 commented on #164
@aggarwalpulkit596 Because of my exams i was not able to complete the task . But I have done half of the work .
Issue is still open ! are we still supposed to resolve same problem.
Thanks for the guidance @aggarwalpulkit596

[2019-05-20 11:16] codedsun commented on #163
@aggarwalpulkit596 Can i claim bounty for opening the issue?

[2019-05-20 13:05] aggarwalpulkit596 commented on #164
@SaumyaSingh1 yeah you can still work on this follow the design which @shubhamofbce used but his method was incorrect so i had to revert that

[2019-05-20 13:13] SaumyaSingh1 commented on #164
Okay

[2019-05-20 17:16] SaumyaSingh1 commented on #164
#195

[2019-05-20 17:42] raystatic opened #196 "arrow should revert when the list expands in course activity"
**Describe the bug**
If the list is expanded in course activity, the position of arrow does not change
**To Reproduce**
1. Go to 'course activity'
2. Click on 'one of the item of what will you learn'
3. If the list is expanded, the direction of arrow does not revert

**Expected behavior**
If the list is expanded, the direction of arrow should revert

**Screenshots**
![WhatsApp Image 2019-05-20 at

[2019-05-20 18:00] aggarwalpulkit596 commented on #196
Make it implementation similar to course consumption section that is the animation of closing and opening I'll allocate 150 + 100 more if added a progress loader while items are loaded in this adapter

[2019-05-20 18:09] raystatic commented on #196
okay

[2019-05-20 20:43] #196 closed

[2019-05-21 04:40] rkishan516 commented on #179
@aggarwalpulkit596
This code is creating crash

var addShortcut = findViewById<Button>(R.id.addShortcut)
val clickListener = View.OnClickListener {view ->

            when (view.getId()) {
                R.id.addShortcut -> createShortcut(this,
                    HomeActivity::class.java,
                    courseName,
                    R.mipmap.ic_launcher)
            }
}
addShortcut.setOn

[2019-05-21 06:33] aggarwalpulkit596 commented on #179
This is not how it will be implemented please android docs

[2019-05-21 08:01] adityastic commented on #179
@aggarwalpulkit596 If I am correct, are you the same guy who contributes for fossasia as well?

[2019-05-21 08:12] aggarwalpulkit596 commented on #179
Yes @adityastic

[2019-05-21 08:17] adityastic commented on #179
@aggarwalpulkit596 great, happy to find someone from the same community

[2019-05-21 09:23] SaumyaSingh1 opened #198 "No intent is set for viewpager in the homefragment."
**Describe the bug**

On clicking the viewpager view  nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Homefragment'
2. Click on 'viewpager that swipes on definite interval'
3. Bug  -> No response on click .

**Expected behavior**
 On clicking the viewpager a new page should open up.
1. For the first three slides respective course activity should open up.
2. For the 'S

[2019-05-21 11:28] #198 closed

[2019-05-21 11:29] aggarwalpulkit596 commented on #198
It's working just fine and it uses routing for this your current implementation work work ever.

[2019-05-21 16:13] aggarwalpulkit596 commented on #180
Closing via 0ada1b618ef971be0ce49dc223a9bb9dde15ad6c

[2019-05-21 16:13] #180 closed

[2019-05-21 16:28] shubhamofbce commented on #164
Did @SaumyaSingh1 resolved the issue or is it still open??? @aggarwalpulkit596

[2019-05-21 16:31] aggarwalpulkit596 commented on #164
It is still open

[2019-05-21 17:04] shubhamofbce commented on #164
@aggarwalpulkit596 I made a pr with proper logic this time do check it.

[2019-05-21 20:47] raystatic opened #203 "bottom start trial button in course activity not working"
**Describe the bug**
The bottom start trial button in the course activity is not working.

**To Reproduce**
1. Go to 'course activity'
2. Scroll down to 'batches'
3. click on start trail button, nothing happens there o click

**Expected behavior**
it should enroll user to that particular batch and lead to my course section

**Screenrecording**
![ezgif com-video-to-gif](https://user-images.githubus

[2019-05-22 05:53] raystatic commented on #182
If this is still open, I will be working on this

[2019-05-22 05:56] thedevelopersanjeev commented on #181
For the first part, at what point do we need to show confirmation and should it be in dialog or anything else?
@aggarwalpulkit596

[2019-05-22 06:00] aggarwalpulkit596 commented on #181
First of all handle back stack correctly then fix the animation currently right to left transition are shown it should be left to right after that don't need to show result card for a submitted quiz

[2019-05-22 06:02] aggarwalpulkit596 commented on #181
@thedevelopersanjeev and there are few more bugs like go back button is not working in result screen and onBackPress remove the quiz activity instead it should take back to quiz attempt fragment and submit quiz button should not in bottom sheet for already submitted quiz
If you complete all of this I'll give you 500 points

[2019-05-22 06:03] thedevelopersanjeev commented on #181
cool. I am working on it.

[2019-05-22 07:12] shubhamofbce commented on #164
@aggarwalpulkit596 #209 has no conflicts and got all tests passed too. please review for one last time.

[2019-05-22 10:08] rkishan516 commented on #179
@aggarwalpulkit596
Can you please suggest me how I can change HomeActivity::class.java with that CourseActivity
createShortcut(this@CourseActivity,HomeActivity::class.java, this.courseName, R.mipmap.ic_launcher)

[2019-05-22 15:13] aggarwalpulkit596 commented on #179
See Implementation of MyCourse Dynamic Shortcut

[2019-05-22 17:06] #203 closed

[2019-05-22 18:43] codedsun opened #214 "Crash on Login and Logout"
**Describe the bug**
The app crashes after logout

**To Reproduce**

Perform login and go through my course return back to home

**Expected behavior**
It should not crash

**Logs**
2019-05-23 00:10:51.103 23581-23710/com.codingblocks.cbonlineapp.debug E/AndroidRuntime: FATAL EXCEPTION: arch_disk_io_0
    Process: com.codingblocks.cbonlineapp.debug, PID: 23581
    java.lang.RuntimeException: Except

[2019-05-23 04:01] rkishan516 commented on #179
@aggarwalpulkit596
Actually there is nothing like dynamic Shortcut. That is just for Showing HomeActivity only.

[2019-05-23 04:02] aggarwalpulkit596 commented on #179
No there is a dynamic shortcut which open my courses only if the user is logged in

[2019-05-23 04:03] rkishan516 commented on #179
That code is this I think
@TargetApi(25)
    private fun createShortcut() {
        val sM = getSystemService(ShortcutManager::class.java)
        val intent1 = Intent(applicationContext, HomeActivity::class.java)
        intent1.action = Intent.ACTION_VIEW
        val shortcut1 = ShortcutInfo.Builder(this, "shortcut1")
            .setIntent(intent1)
            .setLongLabel("My Tickets")

[2019-05-23 04:04] aggarwalpulkit596 commented on #179
Yes exactly this is the one

[2019-05-23 04:05] rkishan516 commented on #179
but this is to open HomeActivity
val intent1 = Intent(applicationContext, HomeActivity::class.java)

[2019-05-23 04:06] aggarwalpulkit596 commented on #179
Similarly any other activity can be opened

[2019-05-23 04:08] rkishan516 commented on #179
but when I tried to Open CourseActivity by this then the shortcut is showing toast of "App isn't install"

[2019-05-23 04:09] aggarwalpulkit596 commented on #179
You might be missing something this because this is the way to open dynamic shortcut

[2019-05-23 04:11] rkishan516 commented on #179
actually my way is :
    createShortcut(this@CourseActivity,this@CourseActivity::class.java, this.courseName, R.mipmap.ic_launcher)

where createShortcut is :

fun createShortcut(activity: Activity, activityToOpen: Class<*>, title: String, @DrawableRes icon: Int) {
    val shortcutIntent = Intent(activity, activityToOpen)
    shortcutIntent.action = Intent.ACTION_VIEW
    if (Build.VERSION.SDK_INT

[2019-05-23 04:11] aggarwalpulkit596 commented on #179
It is probably happening of debug apk package name works fine for signed apk

[2019-05-23 04:13] rkishan516 commented on #179
but for opening a CourseActivity there should be one id given in code.
given by me above.

[2019-05-23 04:15] rkishan516 commented on #179
So, what I do ?

[2019-05-23 04:15] aggarwalpulkit596 commented on #179
First of all this is not way it will work And Secondly you have to Open My course Activity with course having having maximum hits accessed from course run dao

[2019-05-23 04:16] aggarwalpulkit596 commented on #179
Remove applicationId tag in build.gradle

[2019-05-23 04:17] rkishan516 commented on #179
Okay. I will.

[2019-05-23 04:17] rkishan516 commented on #179
Not Getting. Why we will add My course Activtiy when adding shortcut of any course.

[2019-05-23 04:21] aggarwalpulkit596 commented on #179
What's the benefit of opening the course activity in the first place ? It's just a page  to enroll into a course MyCourseActitvity is course consumption page

[2019-05-23 04:23] rkishan516 commented on #179
Ok, got it.

[2019-05-23 04:26] rkishan516 commented on #179
![Screenshot_20190523-095245](https://user-images.githubusercontent.com/34465683/58225703-fb5bff00-7d40-11e9-8a88-9153b486c6e6.jpeg)
This is my way. is it what your requirement ?

[2019-05-23 04:31] aggarwalpulkit596 commented on #179
No, make a implementation similiar to of whatsapp which makes top chats dynamic shortcut automatically

[2019-05-23 04:36] rkishan516 commented on #179
Not getting. Can you give me example.

[2019-05-23 04:38] aggarwalpulkit596 commented on #179
Check Whatsapp Dynamic App Shortcut you'll know

[2019-05-23 04:39] rkishan516 commented on #179
where ?

[2019-05-23 04:41] aggarwalpulkit596 commented on #179
See this https://images.app.goo.gl/BMHajS12oS7ipHpCA

[2019-05-23 04:48] rkishan516 commented on #179
okay.

[2019-05-23 08:41] thedevelopersanjeev commented on #181
Can you explain a little bit more about what is wrong in shimmer layout @aggarwalpulkit596
(Share screenshot if possible)

[2019-05-23 09:11] radharaniraj commented on #151
i would also like to work on this issue,if it is still open

[2019-05-23 10:22] aggarwalpulkit596 commented on #181
Currently, Course Activity Shimmer is being used make a separate shimmer for that

[2019-05-23 10:23] aggarwalpulkit596 commented on #151
@radharaniraj Yeah Go Ahead

[2019-05-23 10:25] aggarwalpulkit596 opened #215 "Delete All User Data On Logout"
It Consists of clearing shared pref and and Database

[2019-05-23 10:28] aggarwalpulkit596 opened #216 "Add Swipe To Delete Notification Activity"

[2019-05-23 10:30] aggarwalpulkit596 opened #217 "Add Download Limit in Settings"
Add A Limit in Settings to for downloading videos preferably a slider with a minimum of 1GB max Up to 10GB

[2019-05-23 10:32] aggarwalpulkit596 opened #218 "Refractor HomeActivity to Use ViewModel"

[2019-05-23 10:33] aggarwalpulkit596 opened #219 "Add Rating Bar in Course Cards"

[2019-05-23 10:35] #76 closed

[2019-05-23 11:33] adityastic commented on #218
I will convert the complete app to use viewmodel with observers and live data. I can start after two days, I'm working on a project with fossasia as well, so if you agree with me starting after 2 days, I would love to work on it

[2019-05-23 12:18] shubhamofbce commented on #219
@aggarwalpulkit596
I would like to work on this issue

[2019-05-23 12:24] shubhamofbce commented on #215
can i work on this issue???

[2019-05-23 12:27] shubhamofbce commented on #217
i would like to work on this issue

[2019-05-23 12:28] shubhamofbce commented on #216
Which notification and what to delete please give some more details??

[2019-05-23 13:48] aggarwalpulkit596 commented on #216
Swipe to delete in notification Activity

[2019-05-23 15:55] #164 closed

[2019-05-23 19:27] radharaniraj commented on #216
i would also like to work on this issue

[2019-05-23 19:29] radharaniraj commented on #215
i want to solve this issue,may i??

[2019-05-23 19:32] aggarwalpulkit596 commented on #215
@radharaniraj Ask @shubham1810 whether he has started on this or not

[2019-05-24 02:26] thedevelopersanjeev commented on #181
How can we improve the quiz layout? @aggarwalpulkit596
Do you have any other design/idea for it?

[2019-05-25 15:48] #216 closed

[2019-05-25 16:28] aggarwalpulkit596 opened #223 "Integrate In-App Update API"

[2019-05-25 18:29] thedevelopersanjeev commented on #181
@aggarwalpulkit596 please help me in the last part of this issue.

[2019-05-26 11:18] raystatic commented on #223
i would like to work on this

[2019-05-26 11:31] raystatic commented on #179
if this is open then i would like to work on this

[2019-05-27 02:41] rkishan516 commented on #179
@raystatic you may because it's taking time for me.

[2019-05-28 12:17] SaumyaSingh1 commented on #215
@shubhamofbce  Have you started working on this issue ?

[2019-05-28 12:19] SaumyaSingh1 commented on #215
@shubhamofbce If not , can I take up the issue ? I want to work on it :)

[2019-05-28 12:20] adityastic commented on #178
@aggarwalpulkit596 there are a total of 8 activities left which do not follow the MVVM architecture, will you open specific issues for specific activity and assign a bounty to it?

[2019-05-28 12:23] aggarwalpulkit596 commented on #215
@SaumyaSingh1 sure go ahead

[2019-05-28 12:26] aggarwalpulkit596 commented on #178
@adityastic probably not because they are quite simple and don't require anything much to refractor I'll be probably doing it on my own

[2019-05-28 12:28] shubhamofbce commented on #215
I had started working but cant work more because i have exams in this week so you can go ahead @SaumyaSingh1

[2019-05-28 12:28] adityastic commented on #178
@aggarwalpulkit596 if you wish, I can do all the files with this issue, you can give me a small amount of extra bounty for it.

[2019-05-28 12:29] SaumyaSingh1 commented on #215
okay :)

[2019-05-28 12:30] adityastic commented on #219
@shubhamofbce are you working on this?

[2019-05-28 12:30] adityastic commented on #217
@shubhamofbce and this as well?

[2019-05-28 12:32] shubhamofbce commented on #219
@adityastic please go ahead i tried a lot on this issue but was unable to solve this and also exams came at the same time..

[2019-05-28 12:33] adityastic commented on #219
Thanks

[2019-05-28 12:34] shubhamofbce commented on #217
Yes i m kalam working on this @adityastic i will tell you for sure if i m unable to make this as i m a newbie .

[2019-05-28 12:34] adityastic commented on #219
@aggarwalpulkit596 so the rating bar should be available for everyone? Or for only the people who are subscribed to that course and also can you link me the api for rating the course ?

[2019-05-28 12:35] adityastic commented on #217
@shubhamofbce we all are newbies brother, let us know if you need any help with this. Kudos

[2019-05-28 12:37] shubhamofbce commented on #217
Thanks @adityastic .I will let you know for sure and That statement matters a lot

[2019-05-28 12:49] aggarwalpulkit596 commented on #219
You have to add a rating bar in anko course card which shows the current rating of course and the feature you talking about is also not there you can open a issue and add that as well

[2019-05-28 12:53] adityastic commented on #219
@aggarwalpulkit596 let me just add a rating bar for now. I shall open an issue on the server and then integrate into the app as well the next week

[2019-05-28 12:54] aggarwalpulkit596 commented on #219
It exists on server already it's haven't been integrated in the app

[2019-05-28 12:55] adityastic commented on #219
@aggarwalpulkit596 oh great then, I will open an issue to add it to the app then later this week

[2019-05-28 14:00] #218 closed

[2019-05-28 16:19] adityastic opened #227 "Fix Spotless Kotlin"
**Describe the feature you'd like**
currently spotless is not working, I can see wildcard imports and useless imports everywhere. Even the code is not indented properly.

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-05-28 16:19] adityastic commented on #227
@aggarwalpulkit596 suggestions?

[2019-05-28 16:22] adityastic commented on #227
wrong repo.. my bad

[2019-05-29 03:09] adityastic opened #233 "Removing use of Null Assertions"
**Describe the bug**'
The codebase contains null assertions everywhere. It is a bad practise to use null assertions

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-05-29 03:10] adityastic commented on #233
@aggarwalpulkit596 if you agree please add some bounty to it as well. Optimizing code leads to looking at the entire codebase, appreciate if I could get some bounty out of it :). Regards

[2019-05-29 03:12] adityastic commented on #227
@aggarwalpulkit596 this was a tedious and time consuming task, please assign it some bounty if you can :)

[2019-05-29 03:19] aggarwalpulkit596 commented on #227
Only fix spotless in this pr

[2019-05-29 03:21] adityastic commented on #227
@aggarwalpulkit596 got it. Let me update the pr

[2019-05-29 07:10] aggarwalpulkit596 opened #234 "Find an issue / suggest an improvement"
Win 20 bounty points by doing either -

* **Find a bug**
For this, you have to mention expected result, and the actual outcome, and post screenshots (if required) to substantiate. Vague bug reports that can't be reproduced will not be entertained

or

* **Suggest a feature**
Suggest a feature that can be added. Flesh it out with technical details, and steps required to implement. Post mocks (if re

[2019-05-29 10:24] adityastic opened #235 "bump up gradle library versions"
**Describe the chore**
Bump up gradle versions of the used libraries

**Would you like to work on the issue?**
- [x] Yes
- [ ] No
- Other:

[2019-05-29 11:52] #227 closed

[2019-05-30 09:35] #151 closed

[2019-05-30 10:27] adityastic commented on #234
Hey, Evening. I would like to suggest some bugs as well as features:
- Bugs:
    - Fixing Memory Leaks : Memory leaks are particularly serious issues for programs.
        Points:
        1. monitoring leaks over android monitor
        2. fixing leaks respectively
    - Fixing Morphing Issues in Layouts :
![cb2](https://user-images.githubusercontent.com/11988517/58626905-844fd900-82f3-11e9-9305-6

[2019-05-30 11:55] shubhamofbce commented on #217
@aggarwalpulkit596 can you please tell me what action to perform if the download limit is reached??
whether to disconnect the network or pause the doenload or something else??
![download limit](https://user-images.githubusercontent.com/45156638/58631255-9d5e8700-82ff-11e9-862a-1d3837397c27.jpeg)

[2019-05-30 15:43] aggarwalpulkit596 commented on #234
You can add theme support  and user to rate course it was already on the roadmap but for now skip the complete redesign as that part is already in the process will create an issue myself when the designs are ready

[2019-05-30 16:33] aggarwalpulkit596 commented on #217
When a limit is reached ask the user to delete previously downloaded videos delete the video with the oldest date

[2019-05-30 17:21] adityastic commented on #234
Great.

[2019-05-30 17:36] adityastic commented on #234
@aggarwalpulkit596 what about the memory leaks, should I start looking for them? as there is no generic solution for memory leaks, I would have to spend a lot of time to find the ways to fix them. This would be fun to learn as well as well as beneficial for the app as well.

[2019-05-31 09:57] ShivanshRakesh commented on #146
Is it still open? If yes, I would like to work on this issue.

[2019-06-01 06:08] aggarwalpulkit596 opened #243 "Change Video Downloaded Logic"
Current Logic mark a video downloaded if the user downloads the video instead it should check system files if that folder exists

[2019-06-01 06:20] aggarwalpulkit596 commented on #234
@adityastic instead of finding and fixing new issues you should try already opened up issues as they are on a higher priority

[2019-06-01 06:51] adityastic commented on #243
I can work on this. But I would be able to start by today afternoon, if thats fine with you

[2019-06-01 06:51] adityastic commented on #234
got it

[2019-06-01 17:07] adityastic commented on #243
Unfortunately, I got back home just now. Will work on it tomorrow morning

[2019-06-02 01:43] HardikSo commented on #146
is it still open?

[2019-06-02 01:54] HardikSo commented on #179
i would like to work on this.

[2019-06-02 01:57] HardikSo commented on #217
is this issue still open?

[2019-06-02 01:58] HardikSo commented on #219
is this issue still open?

[2019-06-02 03:46] adityastic commented on #219
@adityastic I haven't worked on it yet, But I plan to later today :)

[2019-06-02 10:26] raystatic commented on #179
I am already working on this

[2019-06-02 12:13] #179 closed

[2019-06-02 16:54] adityastic commented on #219
@aggarwalpulkit596 currently the Course Cards are an AnkoComponent. Can I change it to the legacy xml like the one used in MyCourseCard like in MyCourses ?

[2019-06-02 18:18] aggarwalpulkit596 commented on #219
Obviously not we would be moving to anko layouts completely in future

[2019-06-02 18:30] adityastic commented on #219
@aggarwalpulkit596 well the theming option for ratingbar does not work. How can I make them small? changing height or width does not work.

[2019-06-03 03:21] adityastic commented on #217
@shubhamofbce how's the progress bro?

[2019-06-03 05:34] adityastic commented on #219
@aggarwalpulkit596 Update: Anko is Amazing, But it has some issues as well. I spent last night on this and was able to get it working.

[2019-06-03 06:25] aggarwalpulkit596 commented on #219
I Guess themedratingbar was the solution ?

[2019-06-03 06:42] adityastic commented on #219
@aggarwalpulkit596 no it wasn't, I had to create a small layout file and include in as a ankocomponent. Unfortunately there were no resources on this issue on the internet, After doing some research for hours this was the only working solution

[2019-06-03 06:44] adityastic commented on #219
I tried themedRatingBar, creating customviews and creating inline functions before asking you about shifting to legacy xml. But they don't take in the style attribute as it does not come under the attribute set parameter

[2019-06-03 09:41] shubhamofbce commented on #219
Yes i also faced the same issues and then handedover this to you @adityastic .

[2019-06-03 09:43] adityastic commented on #219
@shubhamofbce it's done :), now im waiting for @aggarwalpulkit596 to finalize the other prs.

[2019-06-03 09:44] shubhamofbce commented on #219
@adityastic what was the solution ???

[2019-06-03 10:08] aggarwalpulkit596 commented on #219
@adityastic running busy lately will.merge all.of them by today 😅

[2019-06-03 15:25] adityastic commented on #219
@shubhamofbce So, as specified in the docs of anko. RatingBar can be used as :
`ratingBar{}`
and as we wanted a small ratingBar, we had to add the style attribute `Widget.AppCompat.Ratingbar.Small` to it. As suggested in the anko docs, we can use there extension function
`themedRatingBar(R.style.WhateverTheme){}`
But this does work, as Theme Wrapped inside ContextThemeWrapper does not work with Ra

[2019-06-03 16:08] aggarwalpulkit596 commented on #219
Did you try this https://github.com/Kotlin/anko/issues/16

[2019-06-03 16:35] adityastic commented on #219
@aggarwalpulkit596 this feature is already implemented in the library. This is the reason why themedRatingBar or any other themed component exists

[2019-06-03 16:37] adityastic commented on #219
@aggarwalpulkit596 the actual issue can be found here https://github.com/Kotlin/anko/issues/361

[2019-06-03 17:39] aggarwalpulkit596 commented on #219
Got it

[2019-06-03 17:41] #178 closed

[2019-06-03 20:02] raystatic opened #246 "final submission dialog should be there on end button of quiz as well as submit button of quiz"
**Describe the bug**
A final quiz submission confirmation dialog should be there on the end button of quiz and on the submit button like that is happening on the click of submit button of bottomsheet

**To Reproduce**
1. Go to 'Quiz'
2. Click on 'submit button or end button at the last question'
3. It will submit and end the quiz without confirmation

**Expected behavior**
There should be a confir

[2019-06-04 02:21] adityastic commented on #219
@aggarwalpulkit596 Wow, so I just created an extension function that can solve https://github.com/Kotlin/anko/issues/361

[2019-06-04 02:33] aggarwalpulkit596 commented on #219
Cool make a PR then

[2019-06-04 02:35] aggarwalpulkit596 commented on #219
Because if you wouldn't have done it using extension then i probably wouldn't have accepted this PR 😅 as i want to get rid of xml layouts

[2019-06-04 02:52] adityastic commented on #217
@shubhamofbce any updates on this bro?

[2019-06-04 03:24] adityastic commented on #219
@aggarwalpulkit596 haha yes, Possiblities with anko are inevitable. Please create issues with shifting everything to anko. This is amazing, and I would to spend my time researching on this library. Btw I dropped a PR for  fixing the build and the rating bar

[2019-06-04 04:18] aggarwalpulkit596 commented on #219
Not right now waiting for mew designs then I'll think about it and used a 4 parameters constructor right there was an answer similar to that

[2019-06-04 04:32] adityastic commented on #219
@aggarwalpulkit596 yes, certain components in API 21+ shifted to a 4 parameter constructor for the StyleRes. This Is where I got to know about it https://developer.android.com/reference/android/view/View.html#View(android.content.Context,%2520android.util.AttributeSet,%2520int,%2520int). Then I used the solution in https://github.com/Kotlin/anko/issues/724 to create a extension function, easy xD

[2019-06-04 04:40] adityastic commented on #146
@aggarwalpulkit596 Its been more than 2 week to this issue, can I take this up?

[2019-06-04 05:24] adityastic opened #250 "theme support"
**Describe the feature you'd like**
Theme Support for the Application

**Would you like to work on the issue?**
YES

[2019-06-04 05:24] adityastic commented on #250
@aggarwalpulkit596 please allot bounty to this

[2019-06-04 05:26] adityastic commented on #250
@aggarwalpulkit596 How do I claim 20 bounty for reporting this issue? Should I place the same link in the pull request section of the claim? Also Assign bounty to this issue plz

[2019-06-04 05:30] adityastic commented on #182
Can I take this?

[2019-06-04 05:37] raystatic commented on #182
I am working on this already

[2019-06-04 05:38] adityastic commented on #182
sure :)

[2019-06-04 13:55] aggarwalpulkit596 opened #251 "Not able to update notes"

[2019-06-04 13:56] aggarwalpulkit596 commented on #251
@adityastic Please fix this ASAP I need to release an update today

[2019-06-04 13:57] aggarwalpulkit596 commented on #251
Even videos aren't playing this is what I was telling you to check first

[2019-06-04 14:14] adityastic commented on #251
got it, let me check.

[2019-06-04 14:26] adityastic commented on #251
@aggarwalpulkit596 There is some issue with the response from the server:
Log:
NotesJSON: Response{protocol=h2, code=500, message=, url=https://api-online.cb.lk/api/v2/notes/1897}

[2019-06-04 14:51] adityastic commented on #251
@aggarwalpulkit596 another test:
createNote Response:
Response{protocol=h2, code=200, message=, url=https://api-online.cb.lk/api/v2/notes}
The Body:
CreateNotesJSON: 1902, test, com.codingblocks.onlineapi.models.ContentsId@561dccb, null, , 0.0
Note the id is **1902**
When editing the Note Response:
NotesJSON: Response{protocol=h2, code=500, message=, url=https://api-online.cb.lk/api/v2/notes/1902}

[2019-06-04 14:57] adityastic opened #252 "crash on clicking challenges section in videoplayeractivity"
**Describe the bug**
The App crashes when clicking on challenges section

**Logs**
`
    java.lang.ClassCastException: androidx.fragment.app.Fragment$3 cannot be cast to android.content.Context
        at com.codingblocks.cbonlineapp.adapters.SectionDetailsAdapter$CourseViewHolder$bindView$1$8.onClick(SectionDetailsAdapter.kt:396)
`

**Additional context**
Someone tried to cast the context as acti

[2019-06-04 15:12] aggarwalpulkit596 commented on #252
I'm moving all click listeners to fragment so need of this

[2019-06-04 15:12] #252 closed

[2019-06-04 15:16] aggarwalpulkit596 commented on #251
Note OnClick is also not working

[2019-06-04 15:23] adityastic commented on #251
@aggarwalpulkit596 note OnClick works, I get seeked to the duration when the Note was created. Please give me the steps to reproduce the issue, we might be on different pages here

[2019-06-04 15:26] aggarwalpulkit596 commented on #251
Yea it's working i forgot that it needs to same video

[2019-06-04 16:03] shubhamofbce commented on #217
@adityastic take this one too. I am busy doing something else. Sorry

[2019-06-04 16:04] adityastic commented on #217
@shubhamofbce ok bro. Thanks :)

[2019-06-04 16:10] aggarwalpulkit596 commented on #146
Yup go ahead

[2019-06-04 19:43] adityastic commented on #217
@aggarwalpulkit596 Alright, so how would I calculate the size of the download beforehand?. There is no way yet to calculate size before the file is downloaded

[2019-06-04 20:18] aggarwalpulkit596 commented on #217
yup there isn't any way to get size beforehand
so we can do it like
if the threshold is 5GB and the user has used 4.5GB so give it a warning to user with the option to delete the oldest file downloaded or cancel current download and usually videos are roughly > 200mb so we can check approx within a limit not the approx size of download but I can ask videocipher team maybe there is a API for that b

[2019-06-04 20:25] aggarwalpulkit596 opened #255 "Add Support For Multiple Download using a list"

[2019-06-04 20:54] raystatic commented on #255
I will work on this

[2019-06-04 21:05] raystatic opened #256 "Nothing happens when posting a doubt in trial version"
**Describe the bug**
Right now, if someone creates a doubt in trail versions nothing happens there. There should be some message invoked

**To Reproduce**
1. Go to 'VideoPlayerActivity'
2. Click on 'create doubt'
3. When you try to post, nothing happens

**Expected behavior**
There should be some message invoked

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3

[2019-06-04 21:05] adityastic commented on #217
Got it

[2019-06-05 04:54] #182 closed

[2019-06-05 04:57] #251 closed

[2019-06-05 12:57] adityastic commented on #181
@aggarwalpulkit596 what part is left in this? I would to take that if you agree

[2019-06-05 13:37] SaumyaSingh1 commented on #234
Feature :
Right now in the coding block app we don't have **Get Hired** feature.

Description:
We can have Get Hired feature as on website in our app also . That can be implemented in the Navigation Drawer .

Screenshot for the idea -

![image](https://user-images.githubusercontent.com/46818757/58960237-663b1a80-87c4-11e9-83d9-752453b446d0.png)

On clicking the same , we can show something as is o

[2019-06-05 14:25] aggarwalpulkit596 commented on #234
@SaumyaSingh1 nice thought but this feature is already in process but yeah you can improvise the layout when I'm done with the basic implementation

[2019-06-05 14:29] SaumyaSingh1 commented on #234
Sure , I will work on improvising layout :)

Will i get bounty for suggesting this feature? Should I claim for it? @aggarwalpulkit596

[2019-06-05 15:13] aggarwalpulkit596 commented on #234
Unfortunately not 😅 you can't claim as this feature is already implemented but you can bugs there are a lot of them even a minor UI bug

[2019-06-05 15:50] SaumyaSingh1 commented on #234
Bug: In the LeaderBoard section , the text "Leaderboard not available ...." is not correctly aligned and so complete text is not readable .

Description :
The textview can be kept inside scrollview or layout gravity can be changed to center .

Screenshots:

![image](https://user-images.githubusercontent.com/46818757/58970610-64c71d80-87d7-11e9-88de-cabe00c3548e.png)

The page is not even scollable

[2019-06-05 19:50] raystatic opened #263 "Crash on refresh in home fragment"
**Describe the bug**
Crash on refresh in home fragment

**To Reproduce**
1. Go to 'Home Fragment'
2. Swipe down to refresh
3. App crashes

**Expected behavior**
It should not crash

**Logs**
2019-06-06 01:13:05.128 22663-22663/com.codingblocks.cbonlineapp.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.codingblocks.cbonlineapp.debug, PID: 22663
    android.database.sqlite.SQLiteCons

[2019-06-06 00:05] adityastic commented on #250
@aggarwalpulkit596 add bounty plz

[2019-06-06 00:16] #233 closed

[2019-06-06 02:57] aggarwalpulkit596 commented on #250
We'll be using new daylight theme

[2019-06-06 02:57] #250 closed

[2019-06-06 04:13] adityastic commented on #250
@aggarwalpulkit596 can I suggest the interface changes? I specialise in Custom Views and UI/UX for Android. Would love to help this app be the best in the market

[2019-06-06 12:21] sarthak-1998 opened #267 "Video Player is not working correctly in mobile with aspect ratios 18:9 or 19.5:9"
**Describe the bug**
when a video is being played in newer smartphones with aspect ratios other than 16:9, controls of player such as pause/play and seek bar gets cut in the screen.

To  @aggarwalpulkit596
Steps to reproduce the behavior:
1. Go to 'My courses'
2. Click on 'resume and then on any video'
3. See error !

**Expected behavior**
A clear and concise view of the player controls.

**Screen

[2019-06-06 12:24] adityastic commented on #267
can confirm, and would like to work on this

[2019-06-06 12:34] aggarwalpulkit596 commented on #267
@adityastic I recently pushed a dirty fix for this you can improvise that or find an actual fix occupied with something new for the app :)

[2019-06-06 12:48] adityastic commented on #267
@aggarwalpulkit596 I am currently busy with something, I will definitely get to something by night. I will keep you posted

[2019-06-07 10:42] #217 closed

[2019-06-08 08:08] adityastic commented on #267
Fixed :)

[2019-06-08 08:18] adityastic commented on #267
@aggarwalpulkit596 Sorry for being late, I was busy the last two days. I've fixed the issue. Now it will work for any aspect ratio regardlessly.

[2019-06-08 08:35] adityastic commented on #170
@jddeep If you're not working on this, can I take this up?

[2019-06-08 10:09] #267 closed

[2019-06-08 11:16] SaumyaSingh1 opened #274 "Recyclerview of "Previous Attempts" in AboutQuizFragment should more responsive"
**Describe the feature you'd like**
To @aggarwalpulkit596
In the app in the AboutQuizFragment , if we press START QUIZ and after answering a few questions we press BACK button then our answers are saved as previous attempts. we get a recyclerview of previous attempts.  If i restart the quiz with the saved draft and press BACK without answering any new question then also a new draft is created.

1.

[2019-06-08 11:38] SaumyaSingh1 commented on #234
Bug :

In AboutQuizFragment  (trial version) , the Previous attempt draft created doesn't follow any particular ascending or descending order for the time when  created. New/Latest draft should be at top of recyclerview.

Screenshort -
![image](https://user-images.githubusercontent.com/46818757/59146770-d4bfe880-8a0f-11e9-9a59-5dd82777afb5.png)

[2019-06-08 11:49] adityastic opened #275 "Duplicate entries in QuizActivity."
**Describe the issue**

The recycler view list in the QuizFragment does not get cleared, instead the items are added into the earlier list everytime. We need to clear the list on fetching the attempts

![](https://i.imgur.com/HHLABAw.jpg)
![](https://i.imgur.com/M3jOmYD.jpg)

**Would you like to work on this**
YES

[2019-06-08 11:50] adityastic commented on #275
@aggrawalpulkit596 assign bounty

[2019-06-08 12:00] SaumyaSingh1 commented on #234
Bug -

For a course i am using trial and paid both the versions .

![image](https://user-images.githubusercontent.com/46818757/59146883-49475700-8a11-11e9-88fb-b5567241b0f7.png)

In both the versions , Free Tag for premium courses is available . If the user is using the paid course then entire course is free , no use of Free Tag on few of the sections .

TRIAL VERSION ✔
![image](https://user-image

[2019-06-08 12:32] aggarwalpulkit596 commented on #274
This is no api for that

[2019-06-08 12:32] #274 closed

[2019-06-08 12:49] adityastic opened #276 "Add Databinding to Adapters"
Adding databinders to adapters

**Would you like to work on this**
Yes

[2019-06-08 12:49] adityastic commented on #276
@aggrawalpulkit596 add bounty plz

[2019-06-08 13:27] aggarwalpulkit596 commented on #276
Why create a seperate issue ?  There is already a issue for this

[2019-06-08 13:27] #276 closed

[2019-06-08 13:30] championswimmer commented on #234
@SaumyaSingh1 	can you report this is a new issue ?

[2019-06-08 13:40] adityastic commented on #170
@aggarwalpulkit596 assign bounty here

[2019-06-08 14:42] SaumyaSingh1 commented on #234
@championswimmer Yes Sure.

[2019-06-08 15:00] SaumyaSingh1 opened #277 "Free Tag in few(premium) section of Paid Course"
**Describe the bug**
For a course i am using trial and paid both the versions .

![image](https://user-images.githubusercontent.com/46818757/59148784-abf91c80-8a2a-11e9-8f36-fb751a456d1b.png)

**In both the versions , Free Tag for premium courses is available . If the user is using the paid course then entire course is free , no use of Free Tag on few of the sections .**

TRIAL VERSION ✔
![image](

[2019-06-08 15:11] SaumyaSingh1 commented on #277
@championswimmer @aggarwalpulkit596  please add the bounty

[2019-06-08 16:15] aggarwalpulkit596 commented on #275
I'm sorry I didn't get you here what's the issue can you explain a little bit more

[2019-06-08 16:16] aggarwalpulkit596 commented on #263
@adityastic can you confirm it?

[2019-06-08 16:16] #214 closed

[2019-06-08 16:16] #235 closed

[2019-06-08 17:59] adityastic commented on #263
@aggarwalpulkit596 yes sir, it crashes

[2019-06-08 18:05] adityastic commented on #275
@aggarwalpulkit596 the attemplist gets created on activitycreated in aboutquizfragment. When you enter a quiz and press back, the list gets reinitialised and the items get appended again, we should clear the list and then append the items

[2019-06-08 18:16] SaumyaSingh1 commented on #277
@aggarwalpulkit596  Do we get bounties for opening new issues?

[2019-06-08 18:18] aggarwalpulkit596 commented on #277
Yes 20 bounty each for opening an issue

[2019-06-08 18:49] aggarwalpulkit596 commented on #170
@adityastic it will be done in seperate PR's so i will assign points accordingly depending upon the amount of work done in every PR

[2019-06-08 18:56] adityastic commented on #170
@aggarwalpulkit596 got it. I'll start from morning itself

[2019-06-09 02:51] adityastic opened #279 "empty screen when back pressed on aboutquiz fragment"
**Describe the bug**
there is an empty screen when back pressed in aboutquiz fragment.

**Screenshots**
![279](https://user-images.githubusercontent.com/11988517/59154441-d16c4180-8a8f-11e9-8355-e158a2fae9a2.gif)

**Smartphone Info:**
|               | |
|---------------|-|
|Device         | Galaxy S9+ |
|Android Version| Pie 9.0  |

**Would you like to work on the issue?**
YES

[2019-06-09 08:18] #279 closed

[2019-06-09 08:19] #275 closed

[2019-06-09 08:24] #146 closed

[2019-06-09 17:44] adityastic opened #281 "server issue with updating notes"
**Describe the bug**
bad gateway when updating notes

**Would you like to work on the issue?**
I'm not sure. @aggarwalpulkit596 Please Fix this

[2019-06-09 19:05] raystatic opened #282 "write instrumentation tests for each screen in the app"
**Describe the feature you'd like**
there should be intstrumentation tests for each screen in the app

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-06-09 20:07] aggarwalpulkit596 commented on #281
Will take a look tomorrow evening

[2019-06-09 20:08] #256 closed

[2019-06-09 20:08] #246 closed

[2019-06-11 05:46] aggarwalpulkit596 opened #284 "Handle SocketTimeoutException"
Fatal Exception: java.net.SocketTimeoutException: timeout
       at okhttp3.internal.http2.Http2Stream$StreamTimeout.newTimeoutException(Http2Stream.java:656)
       at okhttp3.internal.http2.Http2Stream$StreamTimeout.exitAndThrowIfTimedOut(Http2Stream.java:664)
       at okhttp3.internal.http2.Http2Stream.takeHeaders(Http2Stream.java:153)
       at okhttp3.internal.http2.Http2Codec.readResponseHe

[2019-06-11 05:47] aggarwalpulkit596 commented on #267
@adityastic youtube video are crashing in full-screen fix that

[2019-06-11 05:52] raystatic commented on #284
i will take this one

[2019-06-11 05:52] adityastic commented on #284
I would like to work on it, please provide more description on it

[2019-06-11 05:53] adityastic commented on #267
Let me check

[2019-06-11 06:04] aggarwalpulkit596 commented on #284
@raystatic @adityastic before making a PR tell me how you will be implementing it and then I'll assign it to one of you

[2019-06-11 06:05] #157 closed

[2019-06-11 06:05] #223 closed

[2019-06-11 06:20] adityastic commented on #284
@aggarwalpulkit596 I will add ConnectionPool when creating Client. This ConnectionPool will not keep failed sockets with a default read timeout and which will automatically retry on connectionfailure

[2019-06-11 06:40] raystatic commented on #284
@aggarwalpulkit596 I will handle it by catching the timeout exception and prevent the app from getting crashed

[2019-06-15 06:36] raystatic commented on #215
if this is still open i would like to open work on it

[2019-06-15 06:45] adityastic commented on #284
@aggarwalpulkit596 any updates on this?. I will start working on data binding from today though

[2019-06-15 07:04] aggarwalpulkit596 commented on #284
Running busy lately will let you know in a day or two

[2019-06-17 09:13] raystatic opened #289 "Scrolling is not smooth in viewpager"
**Describe the bug**
while scrolling of viewpager in home fragment, after completion of one iteration, scrolling is not smooth and also it should move back to first item of the pager

**To Reproduce**
1. Go to 'Home fragment'
2. Scroll viewpager

**Expected behavior**
There should be a smooth scrolling of viewpager

**Screenrecording**
![issue](https://user-images.githubusercontent.com/31301266/59

[2019-06-17 10:31] raystatic opened #291 "Implement Picture in picture mode in the app"
**Describe the feature you'd like**
For videoactivity there should be a picture in picture mode

**Would you like to work on the issue?**
- [x] Yes
- [ ] No

[2019-06-18 15:26] joeedwin opened #297 "Facebook login button is not working in app"
**Describe the bug**

Facebook login is not working in app
On pressing FB login button it shows "cannot read property of null"

**To Reproduce**

open app and press Facebook login button

**Expected behavior**

Facebook login should  work in mobile app

**Screenshots**

![WhatsApp Image 2019-06-18 at 8 51 06 PM](https://user-images.githubusercontent.com/26297616/59697115-e9b82b00-920a-11e9-8485-17

[2019-06-18 15:36] adityastic commented on #297
this might be a website issue

[2019-06-18 16:04] aggarwalpulkit596 commented on #297
Yeah this is a website issue not app issue

[2019-06-18 16:04] #297 closed

[2019-06-18 16:05] aggarwalpulkit596 commented on #297
Create an issue oneauth

[2019-06-21 05:59] aggarwalpulkit596 opened #305 "Fatal Exception: android.database.sqlite.SQLiteConstraintException"
**Logs**
com.codingblocks.cbonlineapp.database.CourseRunDao_Impl.insertNew + 438 (CourseRunDao_Impl.java:438)
com.codingblocks.cbonlineapp.database.CourseRunDao_Impl.insertNew + 22 (CourseRunDao_Impl.java:22)
com.codingblocks.cbonlineapp.viewmodels.HomeViewModel$fetchRecommendedCourses$1.invoke + 78 (HomeViewModel.java:78)
com.codingblocks.cbonlineapp.viewmodels.HomeViewModel$fetchRecommendedCours

[2019-06-21 06:00] adityastic commented on #305
I would like to take this issue

[2019-06-21 06:00] adityastic commented on #305
Can you tell me the steps to reproduce

[2019-06-21 06:41] aggarwalpulkit596 commented on #305
Actually the upcoming issues will be coming straight from crashyltics so  can't tell you what's wrong with them you have figure it out yourself

[2019-06-21 06:47] nitya72 opened #306 "'Chat on WhatsApp' option not working"
**Describe the bug**
On clicking 'chat on whatsapp' option from navigation menu it displays toast 'Please install whatsapp' even though I have whatsapp installed on my device.

**To Reproduce**
1. Go to Navigation menu from Home Activity.
2. Click on 'Chat on WhatsApp'
4. Displays toast: 'Please install whatsapp'

**Screenshots**
![Screenshot_20190619-200446](https://user-images.githubusercontent.

[2019-06-21 06:57] adityastic commented on #305
Hmm, ok. Let me try to reproduce it

[2019-06-22 12:45] nitya72 commented on #306
@aggarwalpulkit596  issue is uncertain, sometimes it's working.

[2019-06-22 13:44] aggarwalpulkit596 commented on #306
Code doesn't work that way either it is working or it is not and bdw it isn't working I've checked

[2019-06-23 19:10] anubhav11march commented on #306
@aggarwalpulkit596 I have come up with a solution and I am creating a pull request.

[2019-06-26 13:21] aggarwalpulkit596 opened #310 "Implement Paging in All Course/My Course Fragment"
Use Paging library for this which is a part of jetpack components

[2019-06-26 13:22] aggarwalpulkit596 opened #311 "Crash In PDF Activity"
**Describe the feature you'd like**
Unable to destroy activity {com.codingblocks.cbonlineapp/com.codingblocks.cbonlineapp.activities.PdfActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Handler android.app.FragmentHostCallback.getHandler()' on a null object reference

[2019-06-26 13:25] aggarwalpulkit596 opened #312 "Crash in Home Activity"
**Describe the feature you'd like**
Unable to start activity ComponentInfo{com.codingblocks.cbonlineapp/com.codingblocks.cbonlineapp.activities.HomeActivity}: java.lang.IllegalArgumentException: Wrong state class, expecting View State but received class androidx.viewpager.widget.ViewPager$i instead. This usually happens when two views of different type have the same id in the same hierarchy. This

[2019-06-26 13:27] aggarwalpulkit596 commented on #284
@adityastic Go Ahead with your implementation

[2019-06-26 13:56] raystatic commented on #312
I will take this

[2019-06-26 13:58] raystatic commented on #310
I would like to take this

[2019-06-26 15:04] adityastic commented on #311
I would like to take this

[2019-06-26 15:05] adityastic commented on #284
@aggarwalpulkit596 on it

[2019-06-27 07:17] anujji1999 commented on #234
UI Bug -Card Layout in each activity is not properly designed.
Basically, all the cards are not scalable, contents gets overlapped.
![1](https://user-images.githubusercontent.com/33349650/60245147-96fd0400-98d9-11e9-8b7a-0eef57e8e297.jpeg)
![2](https://user-images.githubusercontent.com/33349650/60245164-a2502f80-98d9-11e9-8261-e7da27ca74e9.jpeg)
![3](https://user-images.githubusercontent.com/33349

[2019-06-27 07:22] ayushns9 opened #314 "Value of number of sixes and score interchanged in predictions section"
**Describe the bug**

The values for number of sixes and score of winning team is interchanged on the mobile app in the world cup prediction offers section.

**To Reproduce**

1. Go to the predictions section on mobile app.
2. Make any prediciton.
3. See the error.

**Expected behavior**

The number of sixes should have been in the sixes section and same for the score.

**Screenshots**

![Screensh

[2019-06-27 19:45] anubhav11march commented on #314
I would like to work on this.

[2019-06-28 05:39] anubhav11march commented on #311
@adityastic  Can I take this?

[2019-06-28 05:39] anubhav11march commented on #312
@adityastic  Can I take this?

[2019-06-28 05:39] anubhav11march commented on #310
@adityastic  Can I take this?

[2019-06-28 06:35] raystatic commented on #310
@anubhav11march i am working on this already

[2019-06-28 06:36] raystatic commented on #312
@anubhav11march I am already on it

[2019-06-28 12:03] adityastic commented on #311
@anubhav11march I'll be working on it today night. If you can finish it before 1 am, drop a pr

[2019-06-28 12:05] anubhav11march commented on #311
Alright, thanks.

[2019-06-28 17:50] mriganksingh1 commented on #234
@aggarwalpulkit596
Bug in the webpage of ICC world cup prediction. If you take the time backward of your pc and then predict then you can still predict even after the match is over.
![BOSS](https://user-images.githubusercontent.com/44446528/60361106-fd2d7800-99fa-11e9-95ad-ebc7df0dc267.jpeg)
![WhatsApp Image 2019-06-28 at 23 07 52](https://user-images.githubusercontent.com/44446528/60361125-07e80d

[2019-06-28 17:52] mriganksingh1 commented on #314
I would also like to work on this.

[2019-06-28 18:10] mriganksingh1 commented on #234
@aggarwalpulkit596
The same issue is with the app too I just tried and saw it.
![BOSS3](https://user-images.githubusercontent.com/44446528/60362158-d6247580-99fd-11e9-92b7-d6274e0cc2e5.jpeg)
![BOSS4](https://user-images.githubusercontent.com/44446528/60362167-dae92980-99fd-11e9-90c7-c85498ed9577.jpeg)

Even it is showing time left for predictions 0 but I can still make and submit it.
I just backwa

[2019-06-28 18:19] adityastic commented on #314
@mriganksingh1 I'll work on it tonight

[2019-06-28 18:20] anubhav11march commented on #314
@adityastic I'm already working on this.

[2019-06-30 02:12] adityastic commented on #170
@aggarwalpulkit596 https://github.com/fossasia/badge-magic-android/pull/419

[2019-06-30 03:27] adityastic commented on #181
@aggarwalpulkit596 what improvements are you looking for in Quiz Layout?

[2019-06-30 06:30] adityastic commented on #255
@aggarwalpulkit596 this has been open for over 25 days now, can I solve this?

[2019-06-30 06:30] adityastic commented on #215
@aggarwalpulkit596 even this has no activity since 15 days, I can drop a pr in an hour for this

[2019-06-30 11:11] aggarwalpulkit596 commented on #255
Go ahead

[2019-07-01 07:14] SaumyaSingh1 commented on #234
Bug -
ViewPager in the HomeFragment Freezes on it's own .(At "Data is the new science")

https://im4.ezgif.com/tmp/ezgif-4-4f752176b0d1.gif

[2019-07-01 14:36] aggarwalpulkit596 commented on #234
@SaumyaSingh1 there is already issue opened for this #290

[2019-07-01 14:37] aggarwalpulkit596 commented on #234
Great Work @mriganksingh1 open up this in a separate issue

[2019-07-01 14:39] aggarwalpulkit596 commented on #234
Great Work @mriganksingh1 open up this in a separate issue

[2019-07-01 14:40] #311 closed

[2019-07-01 14:57] aggarwalpulkit596 opened #319 "Crash In HomeActivity"
**Describe the feature you'd like**
Wrong state class, expecting View State but received class androidx.viewpager.widget.ViewPager$i instead. This usually happens when two views of different type have the same id in the same hierarchy. This view's id is id/0x8. Make sure other views do not use the same id.

[2019-07-01 15:03] aggarwalpulkit596 opened #320 "Improvise Doubts Section In Course Consumption Page"

[2019-07-01 15:04] adityastic commented on #319
Duplicate of #316. Please close

[2019-07-01 15:06] adityastic commented on #320
I'd like to work on this. Please provide more info on the expected interface

[2019-07-01 15:56] aggarwalpulkit596 commented on #320
Make it similar to web

[2019-07-01 16:08] #319 closed

[2019-07-01 16:09] aggarwalpulkit596 opened #321 "Add Option to Generate Course Completion Certificate"

[2019-07-01 16:11] adityastic commented on #321
I'd like to take this issue

[2019-07-01 16:11] aggarwalpulkit596 opened #322 "Add Projects Section in Course Activity"

[2019-07-01 18:07] anubhav11march commented on #322
I'd like to take this.

[2019-07-02 03:35] mriganksingh1 opened #323 "time passes"

[2019-07-02 04:03] mriganksingh1 commented on #323
@aggarwalpulkit596 created this as a new issue.

[2019-07-02 04:18] mriganksingh1 opened #324 "Predictions submit even after time passes"
**Describe the bug**
ICC World Cup Predictions, we can make predictions even after submitting period is over.

**Expected behavior**
We should not be able to make predictions after predictions period is over by any way or any means.

**Logs**
In this, I have just changed my mobile time to 7:00 a.m after the match is over and i am able to make predictions.

**Screenshots**
![BOSS3](https://user-ima

[2019-07-02 04:25] mriganksingh1 commented on #324
@aggarwalpulkit596 how to claim bounty points for this issue?

[2019-07-04 17:54] sukhbeer commented on #324
@mriganksingh1 do you work on that issue?

[2019-07-04 18:08] mriganksingh1 commented on #324
@sukhbeer nope

[2019-07-06 07:59] #291 closed

[2019-07-07 07:13] mriganksingh1 commented on #324
@aggarwalpulkit596 please put BOSS label on it

[2019-07-10 02:48] bpst98 opened #328 "Application crashes when there is no cricket match and user taps on "play now" or "buy now" option"

[2019-07-11 16:22] aggarwalpulkit596 opened #331 "Add Join Whatsapp group button in enrolled course"

[2019-07-11 16:23] raystatic commented on #331
i will do this

[2019-07-11 16:23] aggarwalpulkit596 opened #332 "Add Mentor Contact Information in Instructor Adapter"

[2019-07-11 16:24] raystatic commented on #332
i will do this

[2019-07-11 16:24] aggarwalpulkit596 opened #333 "Add Option to Reset Progress of Course"

[2019-07-11 16:24] raystatic commented on #333
i will do this

[2019-07-11 16:25] aggarwalpulkit596 opened #334 "Add Project Section in Course Activity"

[2019-07-11 16:27] raystatic commented on #334
i will do this

[2019-07-11 16:27] aggarwalpulkit596 opened #335 "Add Section Deadline in Enrolled Courses"

[2019-07-11 16:28] aggarwalpulkit596 opened #336 "Add Rate Course Option for Enrolled Courses"

[2019-07-11 16:28] aggarwalpulkit596 commented on #336
@adityastic would you like to take up this ?

[2019-07-11 16:29] #324 closed

[2019-07-11 16:29] #328 closed

[2019-07-11 16:29] #314 closed

[2019-07-11 16:29] #322 closed

[2019-07-11 16:29] #323 closed

[2019-07-11 17:05] adityastic commented on #336
I would love to work on this. Thanks

[2019-07-11 17:06] adityastic commented on #335
I would like to work on this as well

[2019-07-13 05:26] adityastic commented on #320
@aggarwalpulkit596 can you link me the api documentation. I need to get the image and the doubt message from the api. Current Doubts API only returns the title, username, date and id as a TopicItem

[2019-07-13 05:50] adityastic commented on #320
@aggarwalpulkit596 where can i find the documentation for https://api-online.cb.lk/api/. I need to get the profile-imagelink, doubt message. Currently the Api gives me title, date , id and username as TopicsItem

[2019-07-13 12:07] aggarwalpulkit596 commented on #320
There is no documentation for that you need to inspect the website have to check the response there

[2019-07-17 13:09] #331 closed

[2019-07-21 07:30] adityastic opened #345 "Settings Activity Crash"
**Describe the bug**
Settings Activity Crash

**Logs**

`2019-07-21 12:54:19.678 29361-29361/com.codingblocks.cbonlineapp.debug E/AndroidRuntime:     at android.view.LayoutInflater.rInflate(LayoutInflater.java:866)
        at android.view.LayoutInflater.rInflateChildren(LayoutInflater.java:824)
        at android.view.LayoutInflater.inflate(LayoutInflater.java:515)
        at io.github.inflationx.

[2019-07-21 17:33] #332 closed

[2019-07-21 17:38] #345 closed

[2019-07-23 07:14] #255 closed

[2019-07-24 04:44] aggarwalpulkit596 opened #349 "Add Filters in Job Search"

[2019-07-24 05:02] adityastic commented on #349
I would like to work on it

[2019-07-24 05:18] adityastic commented on #263
@aggarwalpulkit596 this seems to have been fixed. It can be closed

[2019-07-24 05:19] adityastic commented on #281
@aggarwalpulkit596 the issue still persists. please have a look

[2019-07-24 05:59] #263 closed

[2019-07-24 06:00] #181 closed

[2019-07-24 06:00] #306 closed

[2019-07-25 12:57] vermastuti opened #354 "Error fetching course contents"
**Describe the bug**
Active online course is not accessible due to error in downloading contents

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Courses
2. Click on 'Interview Preparation Complete Course'
3. See error 'Error Fetching Course There was an error downloading course contents'.

**Expected behavior**
Active online courses should be accessible and able to load contents.

*

[2019-07-25 13:11] adityastic commented on #354
@aggarwalpulkit596

[2019-07-25 13:12] adityastic commented on #354
@vermastuti Thank you so much for reporting the bug and letting us know. @aggarwalpulkit596 can I work on it and report back?

[2019-07-25 13:14] vermastuti commented on #354
@aggarwalpulkit596 Definitely, you can work on it and let me know.

[2019-07-26 10:00] iamspathan opened #355 "Scrolling is not smoother in jobs Activity"
**Describe the bug**

When scrolling down jobs in Recycler View, scrolling is not free as normal.

**To Reproduce**

**Screenshots**
![Jobs Scrolling](https://drive.google.com/uc?export=view&id=1lbXKC8PXU2-yyWXU2Sk5jJ-rctTX1bxD)

**Smartphone Info:**
|Device -> Tecno Camon I|
|Android Version -> Nougat 7.0  |

**Would you like to work on the issue?**

- [*] Yes
- [] No
- Other:

[2019-07-28 17:57] #215 closed

[2019-08-04 11:47] sukhbeer commented on #310
@aggarwalpulkit596 if this issue is still open?
Can I work on this?

[2019-08-04 12:14] aggarwalpulkit596 commented on #310
Yes go ahead

[2019-08-04 15:15] anujji1999 commented on #335
@aggarwalpulkit596 How can i get POST API for submitting review?

[2019-08-04 16:14] aggarwalpulkit596 commented on #335
You can do that by actually doing an review on the website and inspecting the request 😅

[2019-08-05 03:27] adityastic commented on #320
@aggarwalpulkit596 for some reason https://api-online.cb.lk/api/v2/courses/doubts/{doubtid} does not return the same result as in the website. The CreatedBy field is null for some reason. Please give me an update asap, Thanks

[2019-08-05 03:32] adityastic commented on #321
@aggarwalpulkit596 there seems to be an option to generate certificate in the app currently

[2019-08-05 03:34] aggarwalpulkit596 commented on #321
There's no network call/check is done I've only added a layout you can still work upon on that if you want to

[2019-08-05 03:35] adityastic commented on #321
@aggarwalpulkit596 on it

[2019-08-05 05:31] adityastic commented on #321
@aggarwalpulkit596 I'm not able to inspect the certificate as I havent purchased any courses. I'm not able to complete 90% in any course and not able to see the difference in a normal response and an able to generate response. Any idea how I can log the response?

[2019-08-05 10:11] #333 closed

[2019-08-06 05:51] aggarwalpulkit596 commented on #321
Closed via #0d258c6

[2019-08-06 05:52] #321 closed

[2019-08-07 11:31] adityastic commented on #320
@aggarwalpulkit596 any updates?

[2019-08-09 00:10] adityastic commented on #320
@aggarwalpulkit596 did you find out the cause?

[2019-08-09 01:55] aggarwalpulkit596 commented on #320
Yeah you need to make a seperate call to discord server to fetch the details

[2019-08-09 04:34] adityastic commented on #320
@aggarwalpulkit596 discord server?

[2019-08-09 05:21] adityastic commented on #320
@aggarwalpulkit596 Im not sure where do I need to ping to get the doubts from https://discuss.codingblocks.com/ . Can you explain in detail the call which needs to be made to discord server?

[2019-08-16 16:54] #349 closed

[2019-08-18 05:49] adityastic commented on #335
@aggarwalpulkit596 this means that we need to show deadline of every topic as shown in website right? Ex : complete this lecture by this date

[2019-08-18 07:03] aggarwalpulkit596 commented on #335
Yup

[2019-08-18 10:33] #284 closed

[2019-09-03 20:00] #312 closed

[2019-09-03 20:01] #282 closed

[2019-09-03 20:01] #289 closed

[2019-09-03 20:01] #305 closed

[2019-09-03 20:01] #277 closed

[2019-09-03 20:01] #243 closed

[2019-09-05 03:01] #170 closed

[2019-09-05 04:23] sunil-kumarr commented on #234
there is still an issue in viewpager on home fragment as there was a problem in smoothness #289 said to be resolved in #292 .
But https://github.com/sunil-kumarr/CBOnlineApp/blob/development/viewpager%20cbonline%20GIF.gif  when viewpager animation is getting stuck as shown in gif

[2019-09-06 18:26] rajput2122 commented on #355
Can i work on this issue?

[2019-09-16 18:00] #334 closed

[2019-09-16 19:00] #336 closed

[2019-09-22 12:59] #281 closed

[2019-10-03 05:10] liveHarshit opened #410 "Title is missing"
**Describe the bug**
There is no title to the app toolbar on the main activity, there should be an app name as standard.
In the codebase
[code]
But not working

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-03 05:11] liveHarshit opened #411 "Remove splash activity"
**Describe the feature you'd like**
Splash activity is not required as https://plus.google.com/+AndroidDevelopers/posts/Z1Wwainpjhd

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2019-10-03 06:07] liveHarshit opened #414 "Double action bar in settings activity"
<p align="center">
<img src="https://user-images.githubusercontent.com/27783786/66103064-23eae400-e5d2-11e9-9f89-853b3e2e612d.png" height = "480" width="270">
</p>

**Would you like to work on the issue?**
good-first-issue

[2019-10-03 06:29] liveHarshit opened #415 "Circle CI build is failing"
**Describe the bug**
Circle CI is failing due to Jackson module

**Would you like to work on the issue?**

yes

[2019-10-04 03:58] #411 closed

[2019-10-04 03:58] #410 closed

[2019-10-04 04:07] #415 closed

[2019-10-04 05:17] aggarwalpulkit596 commented on #414
Go ahead

[2019-10-04 05:18] aggarwalpulkit596 commented on #414
There is a double bar in QuizActivity as well update there as well

[2019-10-07 20:05] ashishlalwani582 opened #425 "About_instructer_section_In_card_view_of_courses"
text is out of bounds in this section
-I
![coding_block_app_issue](https://user-images.githubusercontent.com/42974546/66344581-de307180-e96b-11e9-9577-84271701ca4d.png)
![Coding_blocks_app_issue](https://user-images.githubusercontent.com/42974546/66344583-de307180-e96b-11e9-867c-a5ad4b8b4979.png)

 would like to work on these issues Yes

[2019-10-09 02:32] aggarwalpulkit596 commented on #414
Yes

[2019-10-09 04:50] jddeep opened #428 "Missing License section in Readme.md"
Missing "License" section in the Readme file.

Include the License details of this project in its documentation.
This should be present like other substantial open source projects out there.

[2019-10-09 04:50] jddeep commented on #428
@aggarwalpulkit596 @championswimmer  Can I work on this?

[2019-10-09 07:12] aggarwalpulkit596 commented on #428
GO ahead

[2019-10-10 13:02] #310 closed

[2019-10-10 16:23] ThiagoWhispher commented on #428
Hi @jddeep @aggarwalpulkit596
I saw that some of your repositories did not contain the readme license link.
So I decided to create an issue (like [here](https://github.com/coding-blocks/DigitalOceanApp/issues/125) ) and solve it based on that, could you take a look? I wanted to contribute something to get my swags at the Hacktoberfest event

[2019-10-11 01:30] jddeep commented on #428
@ThiagoWhispher Before making a PR. Please see if a PR for the same issue is opened or not. A PR is already opened for this issue at #429 . Please keep this in mind while contributing to projects. Thanks.

[2019-10-11 02:22] jddeep opened #438 "Typos in Contibuting.md"
There are some typos in contributing.md file which need to be fixed.

[2019-10-11 12:59] ThiagoWhispher commented on #428
Hi @jddeep
I'm sorry, I fumbled and ended up doing this duplicate work (I will close the duplicate PR), but I made a similar contribution in another repository ( [here](https://github.com/coding-blocks/DigitalOceanApp/pull/126) ) could you take a look and check if it is valid?

[2019-10-11 17:16] #438 closed

[2019-10-13 09:59] crashoverloaded opened #446 "Some Typos & Space misalignment in Contibuting.md"
Some Space misalignment and typos in contributing.md

[2019-10-14 14:22] rob729 commented on #414
@aggarwalpulkit596 Can I work on this issue?

[2019-10-14 14:35] liveHarshit commented on #414
I have marked is as a good first issue.

[2019-10-14 18:14] rob729 commented on #425
@aggarwalpulkit596 Can I work on this issue?

[2019-10-15 02:41] #414 closed

[2019-10-15 07:00] #320 closed

[2019-10-20 13:41] #425 closed

[2019-10-21 03:21] shaktibarath commented on #446
I'll work on that.

[2019-10-21 16:38] #446 closed

[2019-10-24 09:01] #335 closed

[2019-10-24 12:45] harshshinde07 opened #468 "Some courses on the home screen carousel overflow the bounds"
**Description**

Some courses on the home screen carousel overflow their bounds due to extra course information.

**Screenshots**

<img src="https://user-images.githubusercontent.com/25999879/67486350-83945680-f689-11e9-8449-ea087367ab9a.png" height="256">

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2019-10-24 21:41] aman0408 commented on #468
Can I look into this?

[2019-10-25 06:11] harshshinde07 commented on #468
@aman0408  ya go ahead. Just comment that you're working on this so that no one takes up the same issue.

[2019-10-25 19:33] aman0408 commented on #468
Okay. I'm trying to work on it

[2019-10-25 20:04] aman0408 commented on #468
Could you tell me which phone did you get this issue on? I am unable to reproduce this error on a 5.0" or a 5.5" screen size

[2019-10-26 08:45] harshshinde07 commented on #468
Device: Lenovo K8 Note
Android version: 8.0
It also has 5.5" screen

[2019-10-26 13:33] harshshinde07 opened #472 "Course Activity should have a loader till the time course details gets loaded."
**Describe the bug**
The course detail activity does not contain a loader before the data gets loaded.

**To Reproduce**
1. Click on any course on the home screen to see the issue in action.

**Expected behavior**
It should show a loader till the time data is being fetched.

**Would you like to work on the issue?**

- [ ] Yes
- [x] No

[2019-10-26 13:39] harshshinde07 opened #473 "The embedded video on course activity just plays and stops after its been loaded."
**Describe the bug**

The YouTube video that's been embedded as a course introduction on the course activity just plays and then pauses after its been loaded.

**To Reproduce**

1. Click on any course on the home screen.
2. Wait for the embedded YouTube video to load.

**Expected behavior**

The embedded YouTube should not play after its been loaded.

**Smartphone Info:**

|               | |
|---

[2019-10-26 13:59] harshshinde07 opened #474 "The course features in course activity are not equally spaced."
**Describe the bug**

The course features in course activity are not equally spaced. The first feature reduces the space for the following feature on a single line in a linearLayout.

**Expected behavior**

Both course features on a single line should have uniform space.

**Screenshots**

Current:

<img src="https://user-images.githubusercontent.com/25999879/67620617-76609e80-f826-11e9-8382-42f3f3

[2019-10-26 17:01] aman0408 commented on #468
I am unable to reproduce this error on Oneplus 5 and pixel 2 emulator.

[2019-10-26 17:16] harshshinde07 commented on #468
Maybe it's the PPI issue? Can you please share how it looks in your case?

[2019-10-27 08:51] #473 closed

[2019-10-27 18:53] harshshinde07 opened #477 "App crashes on clicking the filter option in job search activity"
**Describe the bug**

Clicking on filter option in job search leads to app crash.

**To Reproduce**

1. Open Navigation drawer
2. Click on 'Get Hired'
3. Click on the filter option besides 'All jobs' textView
4. See error -->

**Expected behavior**

A filter dialog should be diaplayed.

**Logs**

[code]

**Smartphone Info:**

Device :- Lenovo K8 Note
Android Version :- 8.0

**Would you like to wor

[2019-10-28 15:01] #477 closed

[2019-11-09 05:16] KaenDagger opened #485 "[Crash] app crashes on "Get Hired" fragment"
**Describe the bug**
App crashes on Get hired fragment

**To Reproduce**

1. Go to navigation drawer
2. Click on 'Get Hired'
3. App crashes

**Logs**
[code]

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Nokia 6.1|
|Android Version| Android Pie   |

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2019-11-12 20:01] #355 closed

[2019-11-14 10:01] #485 closed

[2019-11-18 07:39] KaenDagger opened #496 "Filters in Get Hired fragment not working"
**Describe the bug**
Applying filters in Get Hired fragment doesn't filter the jobs list

**Expected behavior**

List should be filtered on the basis of variables applied for filtration

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | Nokia 6.1 |
|Android Version| Android Pie    |

**Would you like to work on the issue?**

- [X] Yes
- [ ] No
- Other:

[2019-11-19 17:23] aggarwalpulkit596 opened #497 "Use SPORK for shared Prefs"
Remove Native Shared Prefs and use https://github.com/championswimmer/SPORK

[2019-11-25 10:54] KaenDagger commented on #497
I will take this issue

[2019-12-02 15:08] #496 closed

[2019-12-17 13:01] #428 closed

[2019-12-26 04:36] refactor-droidyy commented on #497
@aggarwalpulkit596  can I wok on this?

[2020-01-01 14:01] #472 closed

[2020-01-01 14:01] #474 closed

[2020-01-01 19:01] #468 closed

[2020-01-08 04:09] aggarwalpulkit596 opened #529 "Add Markdown Support"
Add Markdown support to the following places:

- [ ] Comments in Doubts
- [ ] Doubts Description
- [ ] Quiz Description
- [ ] Quiz Question
- [ ] Quiz Answers
- [ ] Instructor Info
- [ ] Course Description

Use this library -> https://github.com/noties/Markwon
Make sure it supports the custom font

[2020-01-08 04:10] aggarwalpulkit596 opened #530 "Use ViewModel Pattern With Coroutines In QuizActivity"
Re-Write Quiz Activity with Correct ViewModel Pattern with every network call with coroutines support

[2020-01-08 04:13] aggarwalpulkit596 opened #531 "Custom ChipView"
Make a CustomChipView library with the following support

- [ ] Gradient/Custom Background Drawables
- [ ] Add Drawables with Text

[2020-02-28 08:13] #529 closed

[2020-02-28 08:13] aggarwalpulkit596 commented on #529
Already fixed

[2020-03-02 06:02] #497 closed

[2020-03-15 05:02] #531 closed

[2020-03-15 05:02] #530 closed

[2020-03-19 23:15] dependabot-preview[bot] opened #605 "Dependabot couldn't authenticate with https://jitpack.io"
Dependabot couldn't authenticate with https://jitpack.io.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/coding-blocks) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/coding-blocks/update-logs/26899383).

[2020-03-20 06:58] #605 closed, assigned to nobody

[2020-04-24 16:59] iamspathan opened #632 "[BUG] Quiz info Fragment attached with No Details"
**Describe the bug**
When the user starts the quiz from the curriculum, as expected it goes Quiz Activity. Here Quiz Info fragment gets attached where the user starts the quiz by clicking **START QUIZ** button.  Once the user goes to the 1st question fragment and then press back, Quiz Info fragment gets attached with no details.

**To Reproduce**

1. Go to **Any Quiz**
2. Click on **START QUIZ**
3

[2020-04-24 17:24] iamspathan opened #633 "[BUG] No Attemp Yet View in submission Fragment"
**Describe the bug**
If Student has not attempted the quiz, it shows empty recycler view (Nothing)

**To Reproduce**

1. Go to Any Quiz (which is not attempted yet)
2. Click on Submissions

**Expected behavior**
A view "No Attempts" similar to "No Doubts" should be visible.

**Smartphone Info:**

|               | |
|---------------|-|
|Device         | Realme XT|
|Android Version|ANDROID 10    |

[2020-05-03 07:21] HeyIts-RJ commented on #633
Hello, I would love to work on this issue. Can someone assign this to me?

[2020-05-04 11:46] aggarwalpulkit596 opened #648 "Add Support to Buy Extension/Revision Pack"

[2020-05-04 11:48] aggarwalpulkit596 opened #649 "Add Shimmer Layout for Learning Tracks"
**Describe the feature you'd like**

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-05-06 22:11] #632 closed, assigned to iamspathan

[2020-05-07 06:59] aggarwalpulkit596 opened #652 "Add option to download certificate"

[2020-05-07 07:00] aggarwalpulkit596 commented on #652
@iamspathan Assign PR with this issue.

[2020-05-07 07:01] aggarwalpulkit596 opened #653 "Add goodies feature request"

[2020-05-07 07:04] aggarwalpulkit596 opened #654 "Fix Onboarding Designs for smaller screens"
**Describe the bug**
On smaller screens, Onboarding Screens text is not visible

[2020-05-07 07:07] aggarwalpulkit596 opened #655 "ExpandableTextView trims initial words"
**Describe the bug**
ExpandableTextView replaces 10 letters after the first 20 first words

[2020-05-07 21:36] iamspathan commented on #655
Once you click on textview, after **20 characters** the next **14 characters** replace to (...).

[2020-05-07 21:58] aggarwalpulkit596 commented on #655
![Screenshot_20200508-032736](https://user-images.githubusercontent.com/29139786/81348568-ee642700-90db-11ea-9716-5795fc8c06c3.jpg)
For references see this

[2020-05-07 23:37] iamspathan opened #661 "Make Chip Group Horizontally Scrollable"
Item Track Card consist a Chip group for multiple career options chips. It's not scrollable when multiple chip items arrise.
<img src="https://user-images.githubusercontent.com/31301757/81357208-a69bca80-90f0-11ea-9d85-3fb6e705cb64.jpg" alt="gif" width="300px" height="400px">

[2020-05-07 23:50] aggarwalpulkit596 commented on #661
Always add screenshots for view related bugs

[2020-05-08 00:16] iamspathan commented on #649
Can I take this issue ?

[2020-05-08 00:27] iamspathan commented on #661
Comment updated with screenshot

[2020-05-08 07:57] DARK-art108 commented on #654
Can I work on this issue?

[2020-05-08 08:48] aggarwalpulkit596 commented on #654
@DARK-art108 go ahead

[2020-05-08 08:49] aggarwalpulkit596 opened #662 "Add empty view for notes in video player"

[2020-05-08 08:49] aggarwalpulkit596 opened #663 "Add empty view for doubts in video player"

[2020-05-08 09:26] DARK-art108 commented on #654
Guide me a little bit,do I have to add ldpi drawable folder and resize image and text?

[2020-05-08 09:57] NitishGadangi commented on #655
I would like to work on this

[2020-05-08 10:03] aggarwalpulkit596 commented on #655
Go ahead 👍

[2020-05-08 15:24] aggarwalpulkit596 opened #664 "Add option to rate/review a course"

[2020-05-08 16:49] iamspathan opened #665 "Remove Course from Cart."
**Describe the feature you'd like**
In CheckoutDetailsFragmnet there should be a button to **remove the current item** or **clear cart**.

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-05-09 04:39] prathamk22 commented on #649
can I work on this issue??

[2020-05-09 04:40] prathamk22 commented on #661
Can I work on this issue??

[2020-05-09 04:46] prathamk22 commented on #662
Can I work on this??

[2020-05-09 04:46] aryangulati commented on #664
tell me more about this issues

[2020-05-09 04:48] aggarwalpulkit596 commented on #664
You need to create an option just like website to review/rate the course also if there exist one already then option to edit that one

[2020-05-09 05:56] jashasweejena commented on #664
Can I take up this issue?

[2020-05-09 06:00] aggarwalpulkit596 commented on #664
Go ahead

[2020-05-09 12:33] jddeep commented on #663
I'll take up this one @aggarwalpulkit596 :)

[2020-05-09 12:38] jddeep commented on #648
@aggarwalpulkit596 I would like to work on this.

[2020-05-09 19:15] codekaust commented on #648
@aggarwalpulkit596 can you post a bit details about this issue. I would like to work on this.

[2020-05-10 06:04] #652 closed, assigned to nobody

[2020-05-10 08:08] hardik-dua commented on #665
Yes,I would like to work on this issue. Please assign.

[2020-05-10 09:48] prince-09 commented on #664
Can I take this issue?

[2020-05-10 11:03] hardik-dua commented on #665
@iamspathan what will be the bounty for this issue??

[2020-05-10 11:08] aggarwalpulkit596 commented on #665
@hardik0899 added bounty

[2020-05-10 11:14] hardik-dua commented on #665
@aggarwalpulkit596 Ok Sir

[2020-05-10 16:43] prathamk22 opened #668 "Verify button overlapping OTP edit text while typing"
![WhatsApp Image 2020-05-10 at 22 08 55](https://user-images.githubusercontent.com/32957484/81505184-1f766e80-930b-11ea-8283-a15843600db5.jpeg)

When OTP screen opens, and when we click on the edit text, verify button overlaps with the edit text and not able to view the edit text which makes difficult to view the edit text

Yes I would like to work on this issue.

[2020-05-10 16:43] prathamk22 commented on #668
I want to work on this issue.

[2020-05-10 16:56] aggarwalpulkit596 commented on #668
Nice go ahead

[2020-05-10 17:19] prathamk22 commented on #668
@aggarwalpulkit596 can you please add the BOSS tag in it and the bounty.

[2020-05-11 04:34] prathamk22 commented on #663
Can I work on this issue?

[2020-05-11 04:44] aggarwalpulkit596 commented on #663
@jddeep is already working on this i guess ?

[2020-05-11 05:59] hardik-dua opened #672 "Bottom Navigation Bar contents shrinks."
![Screenshot_2020-05-11-11-25-12-17](https://user-images.githubusercontent.com/36165541/81528517-867f3c00-937a-11ea-972f-d02d0031d3be.png)

As shown in the pic the bottom navigation contents like My Courses and dashboard got shrinked.

[2020-05-11 15:43] hardik-dua commented on #672
@aggarwalpulkit596  if its a major bug then pls assign Bounty for this.

[2020-05-11 15:45] aggarwalpulkit596 commented on #672
Assigned @hardik0899

[2020-05-12 10:09] praj1wal commented on #672
Can I work on this issue?

[2020-05-12 10:25] aggarwalpulkit596 commented on #672
@hardik0899  will  be working on this one you can take any other issue or you can create one if you find any

[2020-05-12 11:00] praj1wal opened #674 "Remove 'My purchases' if not logged in"
If the user is not logged in, then the my purchases button should not be visible,as it is redirecting to a blank screen.

![WhatsApp Image 2020-05-12 at 16 23 36](https://user-images.githubusercontent.com/48339444/81676387-641a1b00-946d-11ea-9dcc-38bb662303f5.jpeg)
![WhatsApp Image 2020-05-12 at 16 23 36 (1)](https://user-images.githubusercontent.com/48339444/81676457-7bf19f00-946d-11ea-84d6-f7ced

[2020-05-12 12:10] praj1wal commented on #674
I want to take this issue

[2020-05-12 12:16] praj1wal opened #675 "Share via whatsapp button not working"
Share via whatsapp button is not working, same is the case with 'more' option.

![WhatsApp Image 2020-05-12 at 17 43 05](https://user-images.githubusercontent.com/48339444/81689712-28d11980-9478-11ea-95fb-1b2af6717f53.jpeg)

[2020-05-12 15:21] aggarwalpulkit596 commented on #675
There is a from backend because of this it is blocked will let you know once done

[2020-05-12 16:17] HaripriyaB opened #676 "Title bar name doesn't change when tabs are changed"
**Describe the bug**
As a user, When I switch tabs, the title bar don't change from "Dashboard". For more details refer screenshots.

**To Reproduce**
1. Go to Dashboard
2. Click on any other tab
3. See that title bar doesn't change the name.

**Expected behavior**
The title bar name need to change according to the switched tab title.

**Screenshots**
![Screenshot_2020-05-12-21-36-33-34_7a48d95313

[2020-05-12 16:37] HaripriyaB opened #677 "Login with OTP text on button not visible clearly"
**Describe the bug**

The "Login with OTP" button text is not visible from Android 9.0 Oppo A9 2020 device.

**To Reproduce**
Note: This issue may not occur for all the devices.
1. Click on login/signup from splash screen
2. Click on login with Google button
3. See that next to login button there is another login button with incomplete text shown.

**Expected behavior**

Show complete "Login with

[2020-05-12 17:01] aggarwalpulkit596 commented on #677
This is a web-view, not an application-level issues

[2020-05-12 17:01] #677 closed, assigned to nobody

[2020-05-12 17:10] iamspathan opened #678 "Bookmark feature is not working properly."
**Describe the bug**
Users are unable to add bookmarks in the video players.

**To Reproduce**

1. Go to 'Any Enrolled Course'
2. Click on  'Any Lecture Video'
3. Click on 'Bookmark'  left of Download Button

**Expected behavior**

All the bookmarks need to be saved and shown in **My Bookmark** section of course library

**Smartphone Info:**

REALME XT (ANDROID 10)

**Additional context**

**Would

[2020-05-12 17:25] HaripriyaB commented on #677
@aggarwalpulkit596 Can u pls guide me which repo should I go to report this issue?

[2020-05-12 17:40] CapTen101 commented on #633
@aggarwalpulkit596 @HeyIts-RJ  Since there's no activity on this issue for a long time, I'm taking this up. Kindly assign it to me

[2020-05-12 17:46] CapTen101 commented on #678
I want to work on this. I'm on it @iamspathan

[2020-05-13 04:48] jddeep opened #681 "Profile Image not appearing in profile screen though in app drawer header"
**Describe the bug**
Profile photo not set if logged in from social media. For instance i logged in from GitHub. The drawer header showed the photo but the profile screen didn't.

**To Reproduce**
1. Login using GitHub/social
2. Open app drawer
3. Profile image appears there but then go to View profile.
4. See error

**Expected behavior**
The same image should appear there.

**Screenshots**
<img s

[2020-05-13 04:49] jddeep commented on #681
@aggarwalpulkit596 Reviews here please.

[2020-05-13 05:02] jddeep opened #682 "Incomplete social media options for logging in"
**Describe the bug**
Incomplete social media options for logging in. We have options to login using Github and Twitter as well but they aren't available on the login screen. This leads to confusion. I suggest to add the GitHub and Twitter login options as well just like in the Webview.

**To Reproduce**

1. Go to Login screen
2. Click on Google/Facebook
3. Webview gets opened and from there we can

[2020-05-13 05:02] jddeep commented on #682
@aggarwalpulkit596 Reviews here please.

[2020-05-13 10:16] HaripriyaB commented on #676
@aggarwalpulkit596  Pls assign bounties if this is a valid issue.

[2020-05-13 12:25] mnb27 opened #683 "Live Streaming on App"
**Describe the feature you'd like**

We can have live streaming feature like youtube/instagram etc.

**Screenshots**

![image](https://user-images.githubusercontent.com/52792904/81811442-3fdc3e00-9542-11ea-8548-ab54d2184b62.png)

**Additional context**

Webinars can be held through this feature and also students/faculty can volunteer and upload interesting videos regarding any common doubt.

**Wou

[2020-05-13 12:48] adiig7 commented on #676
Can I take up this issue?

[2020-05-13 12:51] HaripriyaB commented on #676
I've Already marked yes for working on the issue.

[2020-05-13 15:17] adiig7 commented on #681
Can I work on this issue?

[2020-05-13 15:26] adiig7 opened #684 "Unable to create an account"
**Describe the bug**
I'm not able to create an account on the app.

**To Reproduce**

**Smartphone Info:**

|               | |
|---------------|-|
|Device         ||
|Android Version|    |

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-05-13 15:27] #684 closed, assigned to nobody

[2020-05-13 15:31] adiig7 opened #685 "Unable to create new account"
**Describe the bug**

I'm unable to create a new account. Snack bar pops up with **retry** option

**To Reproduce**

1. Go to 'Create an account'
2. Enter the details
3. Click on proceed

**Screenshots**

![Screenshot_20200513-202933_(Debug)Coding Blocks](https://user-images.githubusercontent.com/54351909/81833439-55ab2c80-955d-11ea-872b-8653998cdb46.jpg)

**Smartphone Info:**

|               | |

[2020-05-13 16:35] mrwhoknows55 opened #686 "Course wishlist feature is not working."
**Describe the bug**

**Course Wishlist** feature is not working.
After clicking on the wishlist button does not give any response.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Explore tab
2. Click on wishlist button in the course card or in the toolbar.
3. Or click on same button in the course details toolbar. (as shown in screenshots)

**Expected behavior**

Particular course sho

[2020-05-13 18:27] CapTen101 commented on #685
I would like to work on this issue

[2020-05-13 18:38] root-ansh opened #687 "UI : Referral Activity WhatsApp Share Button is getting cut"
**Describe the bug**
WhatsApp Referral button isn't working and its UI is getting cut in my device (MI A2 Android 10). Setting both button's Text size to `14sp` instead of `12sp` would probably fix it

**To Reproduce**
1. Open app ( create account/signup/browse courses)
2. Open Hamburger Menu
3. Press "invite and earn" strip at the bottom

Note: This issue only arrives if user has set the system s

[2020-05-13 18:39] root-ansh commented on #687
@aggarwalpulkit596  Can I Work on this issue?

[2020-05-13 18:44] aggarwalpulkit596 commented on #687
Go ahead 👍

[2020-05-13 19:10] CapTen101 commented on #678
@aggarwalpulkit596 Kindly assign the bounty to this issue

[2020-05-13 20:19] HaripriyaB opened #688 "Dashboard keeps loading forever and doesn't show up anything"
**Describe the bug**
When I logged in to my account I was redirected to dashboard and it keeps loading for very long time and doesn't show up anything at all.

**To Reproduce**
1. Go to Dashboard after login

**Expected behavior**
It has to show the contents loaded on dashboard.

**Logs**
2020-05-13 15:30:20.395 16835-16835/com.codingblocks.cbonlineapp.debug E/ANR_LOG: >>> msg's executing time is

[2020-05-13 20:20] shivanshg240 commented on #686
How to contribute in this issue

[2020-05-13 20:27] aggarwalpulkit596 commented on #678
Actually I'm not sure about this issue can you confirm ?🤔

[2020-05-13 20:50] HaripriyaB opened #689 "Adding a "No course purchased" message in My purchase page"
**Describe the feature you'd like**

When I click on My Purchases from the side navigation bar, there comes a blank white page meaning no purchases done. Instead we can have the empty view of "My Courses" page with slight editing in the text.

**Screenshots**
Current Page
![Screenshot_2020-05-13-00-17-29-53_7a48d95313daa0d8bdbf7891041c354f](https://user-images.githubusercontent.com/34762451/817360

[2020-05-13 22:38] adiig7 commented on #686
Can i work on this issue?

[2020-05-13 23:10] adiig7 commented on #674
Hey @praj1wal how is it going with this issue?

[2020-05-14 00:05] adiig7 commented on #685
@aggarwalpulkit596 please review this.

[2020-05-14 01:20] adiig7 opened #691 "Fragment explore courses opens up without changes in bottom navigation view"
**Describe the bug**

If the user hasn't bought any courses, and if the explore courses button is clicked in the my library fragment the explore courses fragment opens up but without changes in bottom navigation view.

**To Reproduce**

1. Go to 'My Library fragment'
2. Click on 'Explore courses'
3. Check Bottom Navigation View

**Expected behavior**

Bottom navigation should switch to explore fra

[2020-05-14 03:34] aggarwalpulkit596 commented on #685
I'm already working on this one so closing this one

[2020-05-14 03:34] #685 closed, assigned to nobody

[2020-05-14 06:14] mrwhoknows55 commented on #686
@shivanshg240 @adiig7 I'm working on this issue

[2020-05-14 06:40] aggarwalpulkit596 commented on #691
@adiig7 why close this one ?

[2020-05-14 07:04] prathamk22 commented on #648
Can I work on this issue??

[2020-05-14 07:16] prathamk22 opened #693 "Picture in Picture Mode not working"
**Describe the bug**
Picture in Picture mode is not working in CB online App

**To Reproduce**
1. Go to any course
2. Start any course
3. Click home button, it should start in picture in picture mode but it is not working

**Expected behavior**
Click home button, it should start in picture in picture mode but it is not working

Device :         Samsung J7 Prime
Android Version : Oreo 8.1
**Would y

[2020-05-14 07:17] prathamk22 commented on #693
@aggarwalpulkit596 pls review and would like to work on it.

[2020-05-14 07:21] aggarwalpulkit596 commented on #693
Go ahead

[2020-05-14 08:00] aggarwalpulkit596 commented on #683
Not possible

[2020-05-14 08:00] #683 closed, assigned to nobody

[2020-05-14 08:01] aggarwalpulkit596 commented on #682
It is related to webview report to frontend of website

[2020-05-14 08:01] #682 closed, assigned to nobody

[2020-05-14 08:02] aggarwalpulkit596 commented on #689
Instead of this text use my courses empty view

[2020-05-14 08:03] aggarwalpulkit596 commented on #648
Go ahead

[2020-05-14 08:05] aggarwalpulkit596 commented on #648
@jddeep @codekaust @prathamk22 i will only assign one task to one person so if you are not working on a task at a particular time just comment that you won't be working on it

[2020-05-14 08:07] HaripriyaB commented on #689
Yeah! Thanks for the suggestion. I'll edit the issue and start working on it.

[2020-05-14 08:34] PiyushSharma99 commented on #648
@aggarwalpulkit596  He(@jddeep ) will be working on it , as there is some network issue in his area.

[2020-05-14 09:05] aggarwalpulkit596 commented on #681
@jddeep if you're working on any task please let me know otherwise I'll it somebody else

[2020-05-14 09:09] adiig7 commented on #685
@aggarwalpulkit596 please do asap bcz I'm not able to make an account and therefore can't find bugs.

[2020-05-14 09:12] aggarwalpulkit596 commented on #685
@adiig7 can you try making an account from the website i will try to complete this by end of the week so till then you can find bugs

[2020-05-14 09:18] adiig7 commented on #685
@aggarwalpulkit I can but to find bugs in the android app I need to login in the app.

[2020-05-14 09:23] aggarwalpulkit596 commented on #685
@adiig7 just make an account from online.codingblocks.com and use that credentials in the app you'll be good to go and if you want a course you can enroll into any free course there are lot of them you can also enroll into a trial

[2020-05-14 09:24] adiig7 commented on #685
@aggarwalpulkit596 okay thanks

[2020-05-14 09:25] hardik-dua commented on #691
@adiig7 worked fine bro!!

[2020-05-14 09:32] adiig7 commented on #691
@hardik0899 but you can see it's not working for me. Idk why??

[2020-05-14 09:35] hardik-dua commented on #691
@adiig7 Yeah I saw.. have to observe what's happening out there.

[2020-05-14 09:38] HaripriyaB opened #694 "Download course don't have cancel button to cancel downloading"
**Describe the bug**
As a user, I might change my mind to not download the course materials but I don't see any option to cancel the downloading process.

**To Reproduce**
1. Go to Explore Courses
2. Scroll down to Trending Now
3. Click on Java Master Course|Crux course
4. Click on "Try it for Free"
5. Go to My Courses
6. Click on Java Master Course
7. Click on Curriculum and scroll down to Sectio

[2020-05-14 09:42] adiig7 opened #695 "Edit profile activity does not open on clicking it."
**Describe the bug**

When you open your profile and click on edit profile textview, it does not open the activity to make changes but the textview disappears.

**To Reproduce**

By clicking it should open the activity to make changes.

**Screenshots**

![20200514_150134](https://user-images.githubusercontent.com/54351909/81919181-20521d80-95f5-11ea-869e-ef6d7dfa9ab6.jpg)
![20200514_150150](https:

[2020-05-14 09:42] #695 closed, assigned to nobody

[2020-05-14 09:48] aggarwalpulkit596 commented on #694
Yeah this one is a must

[2020-05-14 09:51] HaripriyaB opened #696 "Storage space tracker doesn't show the occupied space"
**Describe the bug**
The storage space tracker in settings page doesn't show the occupied space in red as shown in the key below it.

**To Reproduce**
1. Download any course
2. Go to Settings page from the side nav bar
3. See the available storage shown grey even though there is occupied space.(See Screenshot)

**Expected behavior**
The storage tracker should show red according to the downloaded f

[2020-05-14 09:52] HaripriyaB commented on #694
@aggarwalpulkit596 So bounty points for this issue???

[2020-05-14 10:03] adiig7 commented on #696
@HaripriyaB can I work on it?

[2020-05-14 10:04] adiig7 commented on #691
@hardik0899 I'm working on it currently.

[2020-05-14 10:05] hardik-dua commented on #691
Yeah Sure bro..

[2020-05-14 10:08] HaripriyaB commented on #696
@adiig7 I will not be working on this. So as soon as the collaborator assign bounties u can claim this issue.

[2020-05-14 10:12] adiig7 commented on #696
@HaripriyaB yup okay.
@aggarwalpulkit596 please review this issue.

[2020-05-14 10:15] adiig7 opened #697 "Clicking Explore Courses textview in Cart doesn't open up Explore fragment"
**Describe the bug**

When the user is in any fragment other than explore courses fragment, and opens cart and clicks on explore courses textview, it returns to same fragment.

**To Reproduce**

Clicking **Explore Courses** should return to **Explore** fragment.

**Screenshots**

![Screenshot_20200514-154432_(Debug)Coding Blocks](https://user-images.githubusercontent.com/54351909/81923406-3fec4480

[2020-05-14 10:40] hardik-dua commented on #697
@adiig7 are you working on this?? or can I take this one?

[2020-05-14 10:41] adiig7 commented on #697
@hardik0899 sorry bro I'm working on this.

[2020-05-14 10:43] hardik-dua commented on #697
Fine bro..

[2020-05-14 10:50] hardik-dua commented on #633
what are its bounties?

[2020-05-14 11:42] adiig7 commented on #697
@aggarwalpulkit596 please review this and assign bounty points to it.

[2020-05-14 12:01] adiig7 opened #698 "Fragment contents change on button click but bottom navigation view and title bar remain unchanged"
**Describe the bug**

**A.** When the user has no doubts in doubts section and **Go to Classroom** button is clicked, page jumps to dashboard fragment but the bottom navigation still remains on *Doubts*.

**B.** When user switches to *Expired Courses* in **My Courses** fragment,and if there aren't any expired courses, and the user clicks on **Explore Courses** button only the content is  changed,

[2020-05-14 12:03] adiig7 commented on #698
@aggarwalpulkit596 please add bounty points to this so that I can work on this.

[2020-05-14 12:11] aggarwalpulkit596 commented on #698
You can start working on this I'll assign bounties in sometime

[2020-05-14 12:46] adiig7 opened #699 "Dashboard of earlier enrolled course opens up when Try it for free button is clicked in any course."
**Describe the bug**
'
When **Try it for free** button is clicked in any course, it takes you to the dashboard of earlier enrolled courses instead of the course in which you clicked **Try it for free** button.

**To Reproduce**

Clicking the button should take to the dashboard of the current course.

**Logs**

**Screenshots**

![Screenshot_20200514-175007_(Debug)Coding Blocks](https://user-images.

[2020-05-14 13:26] shivamgohri opened #700 "Disordered text in Topic-Wise & Feature Comparison in Course Summary."
**Describe the bug**

Disordered text is appearing in the 'Course Summary' section for the following courses:

- Java Master Course | Crux
- C++ Master Course | Launchpad
- C++ Fundamentals
- Algo++ Data Structures & Algorithms
- Java Fundamentals
- Algo.Java | Data Structures & Algorithms
and more..

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Explore'
2. Click on 'the courses men

[2020-05-14 13:33] aggarwalpulkit596 commented on #700
This is a markdown and can be fixed by adding support for tables in
markdown we use a library for rendering markdowns you can look upon on it
in the codebase

On Thu, May 14, 2020, 6:56 PM Shivam Gohri <notifications@github.com> wrote:

[2020-05-14 13:37] adiig7 commented on #699
Please review this @aggarwalpulkit596 .

[2020-05-14 13:41] shivamgohri opened #701 "Course Share link is '404 NOT FOUND'"
**Describe the bug**

Every course share link is not found on the website!
The link is generated as described below (in CourseActivity.kt) , but this leads to a broken link (shown in gif below):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Explore->Java Master Course | Crux'
2. Click on 'share button on the top right corner of the screen'
3. Copy the link and run on the brow

[2020-05-14 13:46] shivamgohri commented on #700
@aggarwalpulkit596 So this validates this as a bug?
So should I start working?

[2020-05-14 13:47] aggarwalpulkit596 commented on #700
Yes you can start working on this 👍

[2020-05-14 14:40] aggarwalpulkit596 commented on #696
I don't really understand whats the issue here

[2020-05-14 15:09] HaripriyaB commented on #696
@aggarwalpulkit596 The Available space bar doesn't change according to the used space. For example 395.8MB of space is used so it has to show red from the left end of the available storage. I hope u understand now.

[2020-05-14 15:25] adiig7 opened #702 "Clicking on Explore Courses in My Courses fragment doesn't change bottom nav. view"
**Describe the bug**

Clicking on **Explore Courses** in *My Courses* fragment doesn't actually jump fragment to *Explore* fragment. It shows the content of Explore fragment but the bottom navigation view remains the same and the title bar too.

**To Reproduce**

1. Go to My Courses fragment.
2. Click on drop down menu just below the title bar.
3. Click on **Expired Courses**
4. Click on **Explore

[2020-05-14 15:27] aggarwalpulkit596 commented on #702
These issues are not required as fixing any one of them will fix all of them so closing this one in favour of #698

[2020-05-14 15:27] #702 closed, assigned to nobody

[2020-05-14 15:28] aggarwalpulkit596 commented on #702
@adiig7 Also instead of opening multiple issues try fixing one at a time

[2020-05-14 15:29] adiig7 commented on #702
@aggarwalpulkit596 can I add these kind of issues to same issue and you assign final bounty points?

[2020-05-14 15:30] aggarwalpulkit596 commented on #702
Yeah that would make sense

[2020-05-14 15:32] adiig7 commented on #702
Yup I have already solved two, waiting for the contest to start.
Okay, I'll add all the issues of this kind under my earlier issue and you assign final bounty points to that. Would that work @aggarwalpulkit596 ?

[2020-05-14 16:44] altruisticdream commented on #694
yes

[2020-05-14 16:56] HaripriyaB commented on #694
Yeah I'm working on it 👍

[2020-05-14 18:18] Sachindrck commented on #234
UI bug - The content of the button, Login with OTP not visible, maybe kind of content overflow.

![imageedit_2_7173144064](https://user-images.githubusercontent.com/46827344/81970431-29ff7380-963d-11ea-8516-05a08f3acf6d.jpg)

[2020-05-14 18:34] aggarwalpulkit596 commented on #234
This is a WebView Error not related to Android Native

[2020-05-14 18:45] Sachindrck commented on #234
okay @aggarwalpulkit596

[2020-05-14 20:23] Ayush7-BIT commented on #674
I can work on this issue?

[2020-05-15 00:27] prince-09 commented on #655
can I work on this? @aggarwalpulkit596

[2020-05-15 00:29] prince-09 commented on #648
Can i  take this? @aggarwalpulkit596

[2020-05-15 00:46] prince-09 opened #706 "A feature and some UI Issues"
**Describe the bug**
Show password option must be given. Some texts and images in the login page not aligned properly.

**To Reproduce**

1. Go to 'Login page'
2. Click on 'Click on side nav bar'

**Logs**
No Logs

**Screenshots**
![IMG_20200515_060630](https://user-images.githubusercontent.com/52371330/81999683-79f92d00-9673-11ea-9796-49e37929e5a4.jpg)
![IMG_20200515_060541](https://user-images.g

[2020-05-15 00:49] prince-09 commented on #706
@aggarwalpulkit596

[2020-05-15 02:19] adiig7 commented on #674
@praj1wal if you are not working on this issue, I can work on it. Please update me if you are doing or not?

[2020-05-15 03:20] NitishGadangi commented on #655
I am still working on it
Feel free to take, if I don't make a pull request in next two days

[2020-05-15 03:21] praj1wal commented on #674
@adiig7  I am done with this issue, will send a PR in a while.

[2020-05-15 03:24] prathamk22 opened #708 "Crash -- When Opens a PDF from Curriculum and returns back to app. It crashes"
**Describe the bug**
1. Go to My Courses
2. Select the course and head to Curriculum section
3. Open any pdf which shows downloaded in notification pannel
4. Return back to CBOnline App and boom it crashes

**Logs**
020-05-15 08:45:48.968 29874-29874/com.codingblocks.cbonlineapp.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.codingblocks.cbonlineapp.debug, PID: 29874
    java.lang.

[2020-05-15 03:24] prathamk22 commented on #708
@aggarwalpulkit596 please review and let me know. I want to work on this issue.

[2020-05-15 03:49] prathamk22 opened #710 "OTP is not getting detected automatically"
**Describe the bug**
OTP is not getting detected automatically. User have to type it on their own but it is written their that it will be detected automatically.

**To Reproduce**
1. Login with mobile
2. Enter mobile number
3. Otp will be sent
4. Recieved otp but not entered automatically

**Expected behavior**
Recieved OTP should be entered automatically if recieved at anytime

|               |

[2020-05-15 03:51] prathamk22 commented on #710
@aggarwalpulkit596 please review and assign bounty.

[2020-05-15 04:00] prathamk22 commented on #663
Are you working on this issue buddy?? If not can I take up this one?

[2020-05-15 04:02] adiig7 commented on #672
@hardik0899 bro have you done this issue?

[2020-05-15 04:09] hardik-dua commented on #672
@adiig7 yes bro trying to identify whats happening for smaller screen. If I could'nt get some solution I will pass on this issue to you.

[2020-05-15 04:10] adiig7 commented on #672
@hardik0899 yeah bro take your time :)
If anyhow you are not able to do, let me know. :)

[2020-05-15 06:13] KANSHUMAN42 commented on #699
@aggarwalpulkit596 i would like to work on this .

[2020-05-15 06:24] adiig7 commented on #699
@KANSHUMAN42 I am already working on this.

[2020-05-15 06:40] adiig7 commented on #698
@aggarwalpulkit596 sir I have added similar kind of issues to the same, kindly assign revised bounty points, and if I find similar kind of issues, I'll add them to this issue.

[2020-05-15 07:13] KANSHUMAN42 commented on #699
@adiig7  ohkk i will take another one.

[2020-05-15 09:16] thefaisalkhan commented on #694
But here by sliding or swiping it automatically it cancels download

[2020-05-15 09:20] HaripriyaB commented on #694
No @thefaisalkhan Pls check. It will anyway download even if u swipe.slide the notification.

[2020-05-15 09:46] NitishGadangi commented on #654
@DARK-art108 Are you still working bro

[2020-05-15 09:49] DARK-art108 commented on #654
You can work on the issue.

[2020-05-15 10:02] NitishGadangi opened #713 "Set max value for 'Set Download Limit' to available free space"
**Describe the bug**
In settings, the max value for `Set Download Limit` seek bar is set to  10.0GB by default.
It will be more intuitive if it is set based on the available Free space in the mobile

**To Reproduce**
Go to settings

**Screenshots**

![WhatsApp Image 2020-05-15 at 3 29 52 PM](https://user-images.githubusercontent.com/29014716/82038483-3b8a5f00-96c1-11ea-878b-3fd2ac3ed5f6.jpeg)

**W

[2020-05-15 10:03] NitishGadangi commented on #713
@aggarwalpulkit596  bro, add bounty if eligible

[2020-05-15 10:07] aggarwalpulkit596 commented on #710
This won't happen for debugging apk works for prod apk

[2020-05-15 10:07] #710 closed, assigned to nobody

[2020-05-15 10:08] aggarwalpulkit596 commented on #706
These are web-view issues not related to android

[2020-05-15 10:08] #706 closed, assigned to nobody

[2020-05-15 10:12] LambdaLearner commented on #713
I would like to take up this issue. How do I get started?

[2020-05-15 10:24] NitishGadangi opened #714 "No onclick listeners for few emails and phone numbers in Contact us page"
**Describe the bug**
In `Contact us` page `onClickListeners` are not added to a few phone numbers and emails. As a result, the user won't be able to place a call or an email directly.

**To Reproduce**

In Contact Us page try to click on below mentioned phone numbers and emails

**Expected behavior**

Should be able to open `ACTION_SENDTO `or `ACTION_DIAL `intent onClick

**Screenshots**

![WhatsA

[2020-05-15 10:24] NitishGadangi commented on #714
@aggarwalpulkit596 bro, assign a bounty if eligible

[2020-05-15 10:31] NitishGadangi commented on #713
@dungeonmaster51  Sorry bro,
I have already started working on it

[2020-05-15 10:41] hardik-dua commented on #714
@NitishGadangi Can I start working on this issue?

[2020-05-15 10:42] NitishGadangi commented on #714
@hardik0899 Sorry bro,
I already started working on it

[2020-05-15 10:47] adiig7 commented on #696
@aggarwalpulkit596 are you understanding what's the bug here? Cz if you are then please assign bounty so that i can work on it.

[2020-05-15 10:52] championswimmer commented on #696
It is too little to show

[2020-05-15 10:53] aggarwalpulkit596 commented on #714
@NitishGadangi you cannot work on multiple issues at the same i would suggest take up one issue at a time

[2020-05-15 10:58] HaripriyaB commented on #696
@championswimmer  Sir can you check if this issue exist? if u have access to more than 1GB of content for download then pls check. probably we can see if this issue is valid or not after that.

[2020-05-15 11:05] adiig7 commented on #714
Can I work on this issue @aggarwalpulkit596 ?

[2020-05-15 11:29] aggarwalpulkit596 commented on #708
Actually i fixed in the latest push can you rebase your local fork and check if it's still persist

[2020-05-15 11:29] #708 closed, assigned to nobody

[2020-05-15 11:30] #687 closed, assigned to nobody

[2020-05-15 11:36] prathamk22 commented on #688
Can I work on this issue??

[2020-05-15 11:36] #662 closed, assigned to nobody

[2020-05-15 11:37] #701 closed, assigned to nobody

[2020-05-15 11:39] #691 closed, assigned to nobody

[2020-05-15 11:45] prathamk22 commented on #664
Is someone working on this issue?? If not can I take up this one??

[2020-05-15 11:59] prathamk22 opened #715 "Code Challenge should show only questions"
**Describe the feature you'd like**
We as students at coding blocks sometimes need only questions to practice but have to open laptop everytime. It would be easier if we can open the question in the app itself. So that we can see the question rather than opening laptop or browser to open it everytime. While watching lectures in mobile, we can access questions too

- [x] Yes
- [ ] No

[2020-05-15 12:03] adiig7 opened #716 "Adding an option of copying the referral code beside the user's referral code"
**Describe the feature you'd like**

An image button can be added beside referral code which copies the referral code to clipboard when tapped.

**Screenshots**

![Screenshot (151)](https://user-images.githubusercontent.com/54351909/82048177-c70bec00-96d1-11ea-91f2-280f2e2287b7.png)
Just like this, we can change the background of the icon to transparent.

**Additional context**

Please review this

[2020-05-15 12:06] aggarwalpulkit596 commented on #664
@prathamk22 feel free to take this

[2020-05-15 12:09] prathamk22 commented on #715
@aggarwalpulkit596 pls review it and would like to work on it too.

[2020-05-15 12:12] prathamk22 opened #717 "Default Profile Image is not showing"
**Describe the bug**
If profile image is not able to show or failed to load, default profile image should show up in app drawer but currently it is blank.

**Screenshots**
![WhatsApp Image 2020-05-15 at 17 40 06](https://user-images.githubusercontent.com/32957484/82049062-5cf44680-96d3-11ea-9251-9ad78b3b87cd.jpeg)

**Smartphone Info:**

|               | |
|---------------|-|
|Device         |Sams

[2020-05-15 12:31] prathamk22 commented on #717
@aggarwalpulkit596 pls review it

[2020-05-15 12:43] adiig7 opened #718 "Screen goes black on clicking Contents if there are no documents in Curriculum of a course"
**Describe the bug**

If there are 0 documents in a course curriculum and the contents button is clicked the screen colour changes to light gray, click it again, changes to dark grey and one or two more clicks it finally changes to black.

**To Reproduce**

1. Go to Dashboard
2. Click on **Continue Learning** if you are enrolled in any course.
3. Click on **Curriculum**.
4. Click on **Documents**.

[2020-05-15 12:47] adiig7 commented on #716
@aggarwalpulkit596 please review this and let me know if we can add this feature or not.

[2020-05-15 12:56] jashasweejena commented on #664
@aggarwalpulkit596 @prathamk22 Since I haven't started working on this issue, can I move on to another issue?

[2020-05-15 13:00] aggarwalpulkit596 commented on #664
Yes you can

[2020-05-15 13:15] NitishGadangi commented on #714
@aggarwalpulkit596 I have finished with the previous issue bro, so took up this issue
If eligible, Please assign a bounty bro

[2020-05-15 13:27] adiig7 commented on #699
@KANSHUMAN42 if you want to take up this issue, you may now.

[2020-05-15 13:41] m-code12 opened #720 "Join Whatsapp Group section shows 'Install Whatsapp'"
**Describe the bug**
I wanted to join the whatsapp group for my course, but after clicking on it, it shows 'Please Install Whatsapp'. Even if the course group doesn't exist , we could redirect students to a group or a number where they could know about upcoming courses .

**To Reproduce**
1. Go to your purchased course
2. Click on continue learning.
3. Scroll down to Join Group
4. See error --> Pl

[2020-05-15 13:41] prince-09 commented on #664
@aggarwalpulkit596 I have commented first on this issue you should assign it to me

[2020-05-15 13:47] aggarwalpulkit596 commented on #664
Prince there wasn't any activity for 5 days from your end and there is buffer of 2 days if you want to work on any issues you can take a week to complete the issue but there should be an initial activity within 2 days so that a particular issue is not blocked

[2020-05-15 13:52] adiig7 commented on #718
@aggarwalpulkit596 sir what should be done this? I'm thinking of adding a textview saying **No documents in this course** and setting **Contents** visibility to false. Your reviews?

[2020-05-15 13:56] aggarwalpulkit596 commented on #718
So you can do one thing like make a empty textview with a button which will revert the state to default and the textview will work for any one of the type document code challenge and yes definitely hide the button but you need maintain all the cases feel free to ping me if you have issues.

[2020-05-15 14:18] adarshraj365 commented on #716
@aggarwalpulkit596  i would like to work on this .
can you help me out in finding kotlin file and xml file related to this issue

[2020-05-15 14:21] aggarwalpulkit596 commented on #716
Actually Aditya is already working on it so you can find another issue to
work on

On Fri, May 15, 2020, 7:48 PM Adarsh Raj <notifications@github.com> wrote:

[2020-05-15 14:25] prince-09 opened #721 "Background should be transparent."
**Describe the bug**
UI improvement- The bottom sheet's background should be transparent.

**To Reproduce**

1. Go to 'ALL Courses'
2. Click on 'Click on search box'
4. See on top corners it is not transparent and some padding around bottom sheet should be there.

**Expected behavior**
The background should be transparent.

**Screenshots**
![issue1](https://user-images.githubusercontent.com/523713

[2020-05-15 14:34] prince-09 opened #722 "Search is not working"
**Describe the bug**
Seacrh is not working anywhere in the app

**To Reproduce**

1. Go to 'All Courses'
2. Click on 'Click on search box'
3. Scroll down to 'Type some relevant text'
4. Click on search icon - Nothing will happen.

**Expected behavior**
Search should work .

**Screenshots**
![isue2](https://user-images.githubusercontent.com/52371330/82061535-7652be00-96e6-11ea-8411-11ecd1e8d358.png

[2020-05-15 15:01] jashasweejena opened #723 "Profile picture not visible in Edit Profile page when logged in using Github"
**Describe the bug**
When a user uses "**Login via Github**" to log in to the app and goes to edit his/her profile, the Profile Picture isn't visible in the Editing activity, although it is visible in the dashboard in the main screen of the app.

**To Reproduce**

1. Logout of the app, and Login via Github
2. Click on the top left Hamburger menu to open Dashboard
3. Click on your Profile
4. Your P

[2020-05-15 15:07] jashasweejena opened #724 "Allow for Editing Profile picture via the Android app"
**Describe the feature you'd like**
The Android app can be used only to edit some fields of the profile, except for the Profile Picture.
I would like to work on a feature to set an avatar or upload a profile picture via the Android App like it is handled in the Web App.

**Screenshots**
![image](https://user-images.githubusercontent.com/20218197/82065248-81f4b380-96eb-11ea-8181-9dccbdbd3ff0.png)

[2020-05-15 15:40] prince-09 opened #725 "A popUp should be shown when clicked on any locked video."
**Describe the feature you'd like**
A popUp should be shown when clicked on any locked video.

**Screenshots**
![issue3](https://user-images.githubusercontent.com/52371330/82068827-25e05e00-96f0-11ea-9af0-edc4bf6d22a6.png)

**Additional context**
For now, it is just closing the dropdown but there should be a dropdown.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-05-15 15:54] prince-09 opened #726 "User is getting out of app when double tap on back button, from any fragment. It should come back when user is in dashboard fragment"
**Describe the bug**
The user is getting out of app when double tap on back button, from any fragment. It should come back when user is in dashboard fragment

**To Reproduce**
1. Open app
2. Change fragment .
3. Then press hardware back button
4. You will see toast of exit in fragment other than dashboard.

**Expected behavior**
It should show toast only when dashboard icon is selected.

**Screens

[2020-05-15 15:55] TanishqSanduja opened #727 "Bug: Content of couse still accessible after expiration of course"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43672326/82069397-dfd7ca00-96f0-11ea-9c09-e92b9aaccebf.gif)
**Describe the bug**
Even after the expiration of course, the content of couse is still accessible.

**To Reproduce**
1. From **Dashboard** go to **My Couses**.
2. Then go to **Expired Courses**.
3. Try to access content of the course through **Corriculum**.
4. The conten

[2020-05-15 15:57] TanishqSanduja commented on #727
@aggarwalpulkit596 please review this and let me know if I can work on this issue.

[2020-05-15 16:28] TanishqSanduja opened #728 "Bug : Referral code issue."
**Describe the bug**
Every one has the same referal code and referral code is a link which on entering in google chrome leads to a whatsapp group joining link.

**To Reproduce**
1. Go to **Invite and Earn** Activity in **CBonlineApp**.
2. Use the **Referral Link** (Same for every one).
3. On using the link in **Google Chrome** would lead to a whatsapp group joining link.

**Expected behavior**

**

[2020-05-15 16:29] TanishqSanduja commented on #728
@aggarwalpulkit596 please review this and let me know if I can work on this issue.

[2020-05-15 16:40] TanishqSanduja opened #729 "Bug: MORE button in Invite and Earn section is not working."
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/43672326/82074731-d5b9c980-96f8-11ea-8fde-2b30d6f01057.gif)

**Describe the bug**
**More** button in **Invite and Earn** section of the **CBonlineApp** is not working or launching any activity.

**To Reproduce**
1. Go to **CBonlineApp**.
2. Go to **Invite and Earn** section.
3. Try tapping the **More** button.
4. It does not l

[2020-05-15 16:41] TanishqSanduja commented on #729
@aggarwalpulkit596 please review this and let me know if I can work on this issue.

[2020-05-15 16:49] SAMYAK99 commented on #688
Working on it .

[2020-05-15 16:49] RM07 commented on #672
Can I work on this issue

[2020-05-15 16:55] aadij6401 commented on #689
i want to work on it.

[2020-05-15 16:58] HaripriyaB commented on #689
@aadij6401 I have said yes to work on it so I'm working on it already :-)

[2020-05-15 17:11] gauthampkrishnan opened #730 "Leader Board ranking"
Leader Board ranking is not getting displayed in mobile app. I am attaching the screenshot with this Issue.
![Screenshot_20200515-223907_Coding Blocks Online](https://user-images.githubusercontent.com/23455035/82077534-3c40e680-96fd-11ea-9db1-51afe48e0561.jpg)

[2020-05-15 17:15] #717 closed, assigned to nobody

[2020-05-15 19:09] saloniankita commented on #688
Can I work on it ?

[2020-05-15 19:10] saloniankita commented on #675
Can I work on it ?

[2020-05-15 19:24] aggarwalpulkit596 commented on #688
Yes you can

On Sat, May 16, 2020, 12:43 AM Ankita Saloni <notifications@github.com>
wrote:

[2020-05-15 19:25] aggarwalpulkit596 commented on #675
This is on hold for now

On Sat, May 16, 2020, 12:45 AM Ankita Saloni <notifications@github.com>
wrote:

[2020-05-15 20:07] SAMYAK99 opened #734 "View Profile and image icon should not be Present"
**Describe the bug**
View Profile and image icon should not be Present

**To Reproduce**

1. Just open the app
2. Click on Explore Courses
3. See error

**Expected behavior**
View Profile and image icon should not be Present when User click on the Explore Courses . It is not good for user Experience and app

**Logs**
D/skia: --- Failed to create image decoder with message 'unimplemented'
    --- F

[2020-05-15 20:12] Dhruv-194 commented on #718
Is someone working on this ? If not then please assign me this issue I will work on it

[2020-05-15 20:16] vikashkmr519 commented on #718
Can i work on this issue sir @aggarwalpulkit596

[2020-05-15 20:18] Dhruv-194 commented on #720
If this gets the 'bug bounty' tag then I will work on this issue. Please assign me this.

[2020-05-15 20:23] Dhruv-194 commented on #725
If this gets a 'bug bounty' tag then I would like to work on this issue. Please assign me this.

[2020-05-15 20:23] SAMYAK99 opened #735 "Profile Image is missing"
**Describe the bug**
User profile Image is missing in View Profile

**To Reproduce**
1. Log in with your account
2. Click on Navigation Drawer
3. Click on View Profile
4. See error

**Expected behavior**
Profile Image should be visible in view profile section

**Logs**
W/System.err: org.xmlpull.v1.XmlPullParserException: Unexpected token (position:TEXT ÿØÿà��JFIF������...@1:49 in java.io.Input

[2020-05-15 20:24] aggarwalpulkit596 commented on #718
Aditya is already working on this i guess

[2020-05-15 20:27] iamspathan opened #736 "Add Dark Mode Support"
**Describe the feature you'd like**

Users should be able to switch themes to dark mode.

- [x] Yes
- [ ] No
- Other:

[2020-05-15 20:27] iamspathan commented on #736
@aggarwalpulkit596 I'm taking this issue

[2020-05-15 20:47] Dhruv-194 commented on #718
He hasn't made a PR yet....

[2020-05-15 20:50] SAMYAK99 opened #737 "Hackerblocks Report"
**Describe the feature you'd like**
Hackerblocks ranking and report could be added just as in the courses section  in the Website .

**Screenshots**
![a](https://user-images.githubusercontent.com/54956876/82094948-aff1ec00-971b-11ea-96b5-651499635bf7.jpeg)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-05-15 20:57] SAMYAK99 opened #738 "Buy Extension Issue"
**Describe the bug**
I did not buy this Course so there is no need to buy the extension . Also Buy Extension Button is not working !!!!

**To Reproduce**
1. Try any courses for free
2. Click on locked Videos
3. See error -->

**Expected behavior**
Instead of buying the extension it should be better if it was written 'Buy the Complete Course' and Buy Course Buttton should be working .

**Screenshot

[2020-05-15 20:58] #700 closed, assigned to nobody

[2020-05-15 21:07] jayanttaparia opened #739 "Bug : unable to search based on the 'text entered' on All Courses page"
**Describe the bug**
Unable to get search results based on text entered on All Courses page.

**To Reproduce**
Steps to reproduce the behavior:
1. On App start up click 'Browse Courses' option at the boottom of the screen.
2. Click on 'View all courses' provided in the blue LinearLayout
3. Click on 'What do you want to learn ?'
4. See error: The pop comes up where we need to enter the course we wa

[2020-05-15 21:14] aggarwalpulkit596 commented on #718
Then go ahead I'll merge whosever makes the PR first.

On Sat, May 16, 2020, 2:17 AM Dhruv Mehta <notifications@github.com> wrote:

[2020-05-15 21:16] #713 closed, assigned to nobody

[2020-05-15 21:18] aggarwalpulkit596 commented on #729
Duplicate

[2020-05-15 21:19] aggarwalpulkit596 commented on #725
There isn't any clickable action for these as it shows only the list of content nothing else

[2020-05-15 21:19] #725 closed, assigned to nobody

[2020-05-15 21:22] SAMYAK99 opened #740 "Runtime error | App Crashes"
**Describe the bug**
When I try to view the source code , app crashes

**To Reproduce**
1. Go to my courses
2. Click on file which contain source code
3. See error

**Expected behavior**
App should not crashes . Instead it should show the source code .

**Screenshots**
![c](https://user-images.githubusercontent.com/54956876/82097219-1bd65380-9720-11ea-8121-6018abb011ac.jpeg)
![d](https://user-imag

[2020-05-15 21:23] SAMYAK99 commented on #738
I am working on it to fix this error as soon as possible .

[2020-05-15 21:24] vikashkmr519 opened #741 "Search view of All courses doesn't working OR not showing any list related"
**What is the bug?**
The search view of the All Courses not working, as on searching it is not showing any item related to it.

**To Reproduce**

1. Go to 'Login page'
2. Click on 'Browse course'
3. Click on  'The Technology learning platform View All Courses '
4. Click on the above search view and try to search anything
5. See the error

**Expected behavior**
On searching anything in it, for eg J

[2020-05-15 21:24] shivamgohri commented on #738
I would love to work on this!

[2020-05-15 21:26] SAMYAK99 commented on #735
@championswimmer  I am working on this.

[2020-05-15 21:26] vikashkmr519 commented on #741
@aggarwalpulkit596  Sir if it is right to be worked upon, I would love to work on it. Please assign a suitable Bounty.

[2020-05-15 21:27] iamspathan commented on #741
@vikashkmr519  This issue is already open on #722

[2020-05-15 21:29] aggarwalpulkit596 commented on #741
Duplicate

[2020-05-15 21:29] #741 closed, assigned to nobody

[2020-05-15 21:30] aggarwalpulkit596 commented on #739
Duplicate

[2020-05-15 21:30] #739 closed, assigned to nobody

[2020-05-15 21:30] aggarwalpulkit596 commented on #735
Duplicate

[2020-05-15 21:30] #735 closed, assigned to nobody

[2020-05-15 21:31] #729 closed, assigned to nobody

[2020-05-15 21:32] aggarwalpulkit596 commented on #720
@Dhruv-194 can you confirm this issue first because I'm not so sure about this one

[2020-05-15 21:33] #676 closed, assigned to nobody

[2020-05-15 21:34] iamspathan commented on #737
@aggarwalpulkit596 Can I work on this issue?

[2020-05-15 21:34] SAMYAK99 commented on #737
@aggarwalpulkit596  I am working on this  .

[2020-05-15 21:35] aggarwalpulkit596 commented on #737
@iamspathan @SAMYAK99 is working on this one

[2020-05-15 21:36] SAMYAK99 commented on #740
@championswimmer  I would love to work on this .

[2020-05-15 21:36] aggarwalpulkit596 commented on #737
@iamspathan I mean you can take up some other issue

[2020-05-15 21:38] SAMYAK99 commented on #736
@aggarwalpulkit596  I would love to work on this  😃

[2020-05-15 21:38] iamspathan commented on #730
@gauthampkrishnan  Are you working on this issue?

[2020-05-15 21:39] aggarwalpulkit596 commented on #736
@SAMYAK99 try to complete the first one then only I will be assigning you another task

[2020-05-15 21:43] aggarwalpulkit596 commented on #738
@shivamgohri confirm with @SAMYAK99 that he haven't started this one

[2020-05-15 21:43] SAMYAK99 commented on #736
Does this mean we can only work in one issue at a time 🙄

[2020-05-15 21:44] #668 closed, assigned to nobody

[2020-05-15 21:44] #649 closed, assigned to nobody

[2020-05-15 21:44] SAMYAK99 commented on #738
@aggarwalpulkit596  i had started working on it , will give the PR  as soon as possible 😅

[2020-05-15 21:47] shivamgohri commented on #738
@SAMYAK99 Let me know!
:)

[2020-05-15 21:48] SAMYAK99 commented on #734
@aggarwalpulkit596  I want to work on this .

[2020-05-15 21:49] aggarwalpulkit596 commented on #738
@SAMYAK99 you can't work on multiple issues at the same time

[2020-05-15 21:49] SAMYAK99 commented on #738
@aggarwalpulkit596  assign  me this one

[2020-05-15 21:50] aggarwalpulkit596 commented on #737
@iamspathan take this one

[2020-05-15 22:07] shivamgohri opened #742 ""Free trial courses" certificate section show bug"
**Describe the bug**
When we apply for "Try for free" course, course content shows bugged text for certificate generation in the course content!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Course'
2. Click on 'Course which is on free trial'
3. Scroll down to 'Generate Certificate'
4. See error -->

**Expected behavior**
A proper text should have been displayed.

**Screenshots**

[2020-05-15 22:08] shivamgohri commented on #742
@aggarwalpulkit596 I would take this up!

[2020-05-15 22:44] sachink-android commented on #738
I would like to work on this

[2020-05-16 01:18] Dhruv-194 commented on #720
Yes I checked this issue it is correct. Even I also got the same error, I build the app on my phone where whatsapp is installed and still it showed the same error with that Toast Message. I am also attaching the screenshot of it from my phone.
Thank You for assigning me this. I will work on it.
![Screenshot_20200516-063619](https://user-images.githubusercontent.com/61137052/82106835-281ed880-9741-

[2020-05-16 01:21] adiig7 commented on #718
@aggarwalpulkit596 It's been just 13 hours since I opened a issue,at least give me some time to work on it. I just can't make a PR in 2 hours.

[2020-05-16 01:22] Dhruv-194 commented on #730
Yes I want to do this.
@aggarwalpulkit596 kindly assign me this issue. I have certain progress as well now you can see that Leaderboard Layout is getting displayed, I am attaching the screenshot of it as well. The only problem is- Right now I am unable to find the code in the project which is displaying the 'Leaderboard' through the 'Coding Blocks Leaderboard API'. But I will do this.

![Screensho

[2020-05-16 01:23] adiig7 commented on #718
@Dhruv-194 @vikashkmr519 I'm working on this, i just can't make a PR in 2 or 3 hours.

[2020-05-16 01:34] Dhruv-194 commented on #718
Yes you go ahead with it.
 I'm not even getting this error. When I build the app on my phone it was working just fine there was no 'grey' and 'black' screen when I was clicking on the 'Contents' button. Neither did my phone hang and freeze.

[2020-05-16 01:51] adarshraj365 opened #754 "Add editText to every Notes"
**Inside Course->Library->Notes . it shows whole notes in a page .
we can add onClickListener to each note to read and edit the notes .
**
Implement onclickListener to each note and Implement functionality to edit and read notes in separate Activity ..

**Screenshots**

![Screenshot_2020-05-16-07-04-59-071_com codingblocks cbonlineapp](https://user-images.githubusercontent.com/44955367/82107471-9f

[2020-05-16 01:55] adarshraj365 commented on #754
@championswimmer Please review this Issue. I want to work on this issue.

[2020-05-16 01:56] adiig7 commented on #718
@Dhruv-194 yes sorry if you found my comment a bit rude, and its happening with me as you can see in the screenshots

[2020-05-16 02:04] gauthampkrishnan commented on #730
Nope

[2020-05-16 02:22] prince-09 commented on #699
@adiig7 @aggarwalpulkit596 can I take this issue?

[2020-05-16 02:24] prince-09 commented on #697
@adiig7  are you still working on it or can I take it?

[2020-05-16 02:27] prince-09 commented on #693
@prathamk22 is this issue solved?

[2020-05-16 02:28] prince-09 commented on #686
@mrwhoknows55 are you still working on this issue or can I take it?

[2020-05-16 02:28] adiig7 commented on #697
@prince-09 can you please give one more day? If i don't make a PR by tomorrow night you may take it.

[2020-05-16 02:29] adiig7 commented on #699
@prince-09 yes i have dropped this issue you may take it if you want

[2020-05-16 02:31] prince-09 commented on #681
@aggarwalpulkit596  Can I work on this issue?

[2020-05-16 02:33] prince-09 commented on #678
@aggarwalpulkit596 can I start working on this issue if nobody is working?

[2020-05-16 03:02] Anirudhpolawar opened #755 "Invalid format of the credential during creating the account should validated before sending to the server."
**Describe the bug**
When we enter the wrong email format it is popping up the empty notifiers where it is expected that it should popup a notifier reporting the problem invalid email format. When entering the correct email format but the mobile number more than 10 digits it is redirecting to the new pager with the last 10 digits as the number.

**To Reproduce**
1 Go to create a new user
2 enter t

[2020-05-16 03:26] Anirudhpolawar commented on #755
@aggarwalpulkit596 please review this issue I want to work on this.

[2020-05-16 03:36] adarshraj365 commented on #754
@aggarwalpulkit596  please review this issue .

[2020-05-16 03:45] shivamgohri commented on #742
@aggarwalpulkit596 I need some initial guidance on this! I went deeper to Run, RunAttempt, and RunPerformance but couldn't figure out much! Thanks in advance :)

[2020-05-16 04:08] prathamk22 commented on #693
Yes I have made pull request already. @aggarwalpulkit596 have to test it.

[2020-05-16 04:26] aggarwalpulkit596 commented on #742
@shivamgohri yeah tell me what do you want

[2020-05-16 04:27] aggarwalpulkit596 commented on #742
By the way all this information will be fetched from RunAttempt

[2020-05-16 05:13] m-code12 commented on #720
@Dhruv-194 I have opened the issue and have also stated that I would like to work on it. So please look for another issue.

[2020-05-16 05:13] m-code12 commented on #720
@aggarwalpulkit596 Please assign me.

[2020-05-16 05:20] mrwhoknows55 commented on #686
@prince-09 I'm working on it.

[2020-05-16 05:45] jashasweejena commented on #724
@aggarwalpulkit596 Please, could you review this and let me know.

[2020-05-16 05:51] CapTen101 commented on #678
I'm already on this issue

[2020-05-16 06:03] SAMYAK99 commented on #738
Fixed !!!!
![typo](https://user-images.githubusercontent.com/54956876/82112282-09ccd300-9769-11ea-871f-669db911ccfe.png)

[2020-05-16 06:14] gargVader commented on #738
Is this still open?

[2020-05-16 06:50] prince-09 commented on #699
@adiig7  sure I will take this issue

[2020-05-16 06:57] adiig7 commented on #698
@aggarwalpulkit596  I have added one more issue to this existing issue, please review this if bounty points to be increased or not so that I can make a PR for this.

[2020-05-16 07:29] anshbajpai opened #759 "Notifications Not Displayed"
**Describe the bug**
 Notification regarding courses is not being displayed under the notification page

![WhatsApp Image 2020-05-16 at 5 04 01 PM](https://user-images.githubusercontent.com/65030524/82113392-06e9d680-9799-11ea-9400-6757aa641af3.jpeg)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.Coding Blocks App.'
2. Click on 'Notification Bell Icon'
3. See error -->

**Expected b

[2020-05-16 07:39] PiyushSharma99 commented on #681
@aggarwalpulkit596 ,
@jddeep has worked on this issue, he will send the PR as soon as his internet service resume.  (Internet services are down by government)

[2020-05-16 08:15] TanishqSanduja commented on #728
@aggarwalpulkit596 please reply as I want to take up this issue.

[2020-05-16 08:16] TanishqSanduja commented on #727
@aggarwalpulkit596 please reply as I want to take up this issue.

[2020-05-16 10:41] YashKumarVerma commented on #738
100 bounty for a typo :scream:

[2020-05-16 11:22] #698 closed, assigned to nobody

[2020-05-16 11:29] aggarwalpulkit596 commented on #738
@YashKumarVerma this is not a typo

[2020-05-16 11:52] YashKumarVerma commented on #738
Apologies, but I think we must rename the PR to make it a bit more descriptive

[2020-05-16 11:58] aggarwalpulkit596 commented on #738
I'll change PR/issue title once the contributor confirm the exact issue as this is a logic issue not at all related to any spelling mistake

[2020-05-16 11:59] aggarwalpulkit596 commented on #727
Did you check whether the course was expired from website as well ? And the section was not free ?

[2020-05-16 12:00] aggarwalpulkit596 commented on #728
Duplicate

[2020-05-16 12:00] #728 closed, assigned to nobody

[2020-05-16 12:02] #674 closed, assigned to nobody

[2020-05-16 12:05] aggarwalpulkit596 commented on #755
Actually I'm already working  on the new login flow so don't create issues for that

[2020-05-16 12:05] #755 closed, assigned to nobody

[2020-05-16 12:52] shivamgohri commented on #742
@aggarwalpulkit596  But the thing is 'viewModel.run' in OverviewFragment doesn't run for free trail courses, though I can see in logcat that all the information is being fetched!
So can I go ahead with something like this and display that you need to buy course to get certificate?

[2020-05-16 13:19] shivamgohri opened #762 "All courses Certificate show same title"
**Describe the bug**
All course certificates show the same title "Complete 90% of the course to unlock certificate"
However, the Threshold Completion varies in the content of the certificate!

**To Reproduce**
1. Go to 'Any Course'
2. Scroll down to 'Generate Certificate'
3. Do this for many courses, you will see the error!

**Expected behavior**
Every certificate should be made personalized and s

[2020-05-16 13:21] RaghurajThombare commented on #759
Can i try to work on this?

[2020-05-16 14:51] aggarwalpulkit596 commented on #742
@shivamgohri the thing you're referring to is the bug only which you need fix in the fist place so try to fix that one there just a minor issue if you're able to figure it out it would hardly take 2 lines of code

[2020-05-16 14:55] aggarwalpulkit596 commented on #724
There isn't api for that but if you can find out something it'll be great

[2020-05-16 14:57] aggarwalpulkit596 commented on #720
@m-code12 @Dhruv-194 whosever fix the issue first will be given the bounty
 okay with both I guess ?

[2020-05-16 14:59] aggarwalpulkit596 commented on #736
@SAMYAK99 I would recommend to work on one make a PR then move to second one but first make a PR

[2020-05-16 15:01] m-code12 commented on #720
@aggarwalpulkit596  What whatsapp number or group should I redirect the user to ??

[2020-05-16 15:02] anshbajpai commented on #759
@RaghurajThombare i am doing it currently

[2020-05-16 15:03] RaghurajThombare commented on #759
ok fine

[2020-05-16 15:05] RaghurajThombare commented on #762
are you resolving it or may i try?@shivamgohri

[2020-05-16 15:06] shivamgohri commented on #762
@RaghurajThombare  I'm already solving!

[2020-05-16 15:08] vikashkmr519 commented on #718
@adiig7 Go ahead you can work on it.

[2020-05-16 15:19] vikashkmr519 opened #765 "Not showing Login option in My purchase activity"
**Describe the bug**

When we go to my purchases (if we are offline )then it is showing empty activity, I think it should give an option to login

**To Reproduce**

**Expected behavior**

It should show login option, to login in the app

**Screenshots**

![Screenshot_2020-05-16-03-30-20-747_com codingblocks cbonlineapp debug](https://user-images.githubusercontent.com/44942634/82123351-9baefd00-97b

[2020-05-16 15:19] vikashkmr519 commented on #765
@aggarwalpulkit596 please assign bounty if work should be done on it.

[2020-05-16 15:23] vikashkmr519 opened #766 "Non clickable Contacts in Contact Us"
**Describe the bug**

In contact us , the below contacts and email id are non clickable

**To Reproduce**

**Expected behavior**

All the contacts should directly make the call or email when clicked

**Screenshots**

![Screenshot_2020-05-16-03-29-06-562_com codingblocks cbonlineapp debug](https://user-images.githubusercontent.com/44942634/82123463-34457d00-97b7-11ea-925a-805081687df2.jpg)

**Would

[2020-05-16 15:24] vikashkmr519 commented on #766
@aggarwalpulkit596 Please assign bounty if need to be worked on it, I want to work on it.

[2020-05-16 15:31] vikashkmr519 opened #767 "Spelling mistake in DashBoard"
**Describe the bug**

Spelling mistake in dashboard when offline.

**To Reproduce**

**Expected behavior**

uour -> your

**Screenshots**

![Screenshot_2020-05-16-03-25-10-960_com codingblocks cbonlineapp debug](https://user-images.githubusercontent.com/44942634/82123679-4542be00-97b8-11ea-854f-aa50278e97d7.jpg)

**Would you like to work on the issue?**

- [  ✔] Yes
- [ ] No
- Other:

[2020-05-16 15:32] vikashkmr519 commented on #767
@aggarwalpulkit596 please assign the bounty if need to be worked upon. I would like to work on it, Although it is very easy.

[2020-05-16 15:49] RaghurajThombare opened #769 "After logout you can still access profile using back button"
**Describe the bug**
After Logging out you can still able to see the profile and even go back to other parts of app.

**To Reproduce**
1. Go to 'View Profile'
2. Click on 'Logout'
3. Accept Confirmation
4. Press back button on the Login/Signup page
5. Can able to see the profile details again

**Expected behavior**
After going back it shouldn't show the profile and redirect to login/signup page ag

[2020-05-16 15:56] aggarwalpulkit596 commented on #720
There should be url inside the function which handles this part

[2020-05-16 16:05] RaghurajThombare commented on #769
please assign the bounty if need to be worked upon. I would like to work on it, Although it is very easy.

[2020-05-16 16:24] TanishqSanduja commented on #727
@aggarwalpulkit596 yes bhaiya the course was expired from website and it was not free and also I applied for the couse a year and a half before and did not buy any extension.

[2020-05-16 16:51] rahljoshi commented on #767
can you please assign me this

[2020-05-16 16:56] pksgmv commented on #767
@aggarwalpulkit596 I have rectified the spelling mistake. Can you please check and respond if it's fine??
Thank You!!

[2020-05-16 16:58] hardik-dua commented on #766
@vikashkmr519 this issue is already opened by @NitishGadangi

See this https://github.com/coding-blocks/CBOnlineApp/issues/714

[2020-05-16 16:59] RaghurajThombare opened #770 "While creating notes the timestamp is not correct"
**Describe the bug**
While creating notes the timestamp is not correct and changes by higher margin even if the "add note" clicked again after one second

**To Reproduce**
1. Go to 'Any Video Lecture'
2. Click on 'Add note'
3. Scroll down to 'Check the timestamp'
4. It dosen't match with actual video time at that instance.

**Expected behavior**
The timestamp should actually matched with the video

[2020-05-16 17:02] adiig7 commented on #736
@aggarwalpulkit596  can i work on this?

[2020-05-16 17:03] pksgmv commented on #767
@aggarwalpulkit596 It's added as a commit in the same PR as my last one from few hours ago. I am checking if I could make it as a separate PR...

[2020-05-16 17:04] RaghurajThombare opened #772 "After Adding notes the popup option will go away"
**Describe the feature you'd like**
After user will successfully store the Note then the popup option of " Add note" will be hide and the user can see the video

**Screenshots**

**Additional context**
Even if after the user stores the note the popup option is still visible and the video can be seen the user has to click on cross to make it go away.

**Would you like to work on the issue?**

- [x]

[2020-05-16 17:11] RaghurajThombare opened #773 "Onclicking Bookmark for a video nothing happens"
**Describe the bug**
For any course video after clicking on the bookmark nothing happens.

**To Reproduce**
1. Go to 'Any course Video'
2. Click on 'Bookmark icon'
3. Nothing happens

**Expected behavior**
It should give toast that the bookmark is added the icon color will be changed and also it should be visible in the "my bookmarks" tab.

**Logs**

**Screenshots**

**Smartphone Info:**

|

[2020-05-16 17:15] vikashkmr519 commented on #767
https://github.com/coding-blocks/CBOnlineApp/pull/774
@aggarwalpulkit596 sir made the pull request for it please check it

[2020-05-16 17:18] adiig7 commented on #672
@aggarwalpulkit596 sir its been 5 days and no PR hasn't been made, please assign this to me.

[2020-05-16 17:20] aggarwalpulkit596 commented on #672
You can start working on this one

[2020-05-16 17:22] #767 closed, assigned to nobody

[2020-05-16 17:29] hardik-dua commented on #672
@adiig7 bro I have opened a PR.

[2020-05-16 17:31] adiig7 commented on #672
@hardik0899 okay bro cool.

[2020-05-16 18:19] payalmangla17 commented on #672
i want to work on this issue

[2020-05-16 18:51] Sujal123456 commented on #721
Shall i solve this issue?

[2020-05-16 19:16] Sujal123456 commented on #724
@aggarwalpulkit596 I'm willing to work on this issue

[2020-05-16 20:00] HaripriyaB commented on #765
There is no My Purchases page when not loggedin. So where does this issue exactly happen??

![Screenshot_2020-05-17-01-27-25-55_7a48d95313daa0d8bdbf7891041c354f](https://user-images.githubusercontent.com/34762451/82129096-f3149380-97dd-11ea-9bd4-baf40a9cabc5.png)

[2020-05-16 20:04] arsundram commented on #773
I am new to open source and would like to work on this issue. Can I take this?

[2020-05-16 20:05] HaripriyaB commented on #688
@saloniankita Let me give you a hint for this bug. If I don't have any purchased course in my account then this issue happens. If I have a purchased course then that shows up in Dashboard. Happy coding :-)

[2020-05-16 20:48] shivamgohri commented on #742
@aggarwalpulkit596 I'm stuck! Hint, maybe?

[2020-05-16 21:30] jashasweejena commented on #724
Okay. I will try to find something and then revert back to you

[2020-05-16 21:31] jashasweejena commented on #664
Is anyone working on this issue currently?

[2020-05-16 23:07] adarshraj365 commented on #754
please assisgn this issue to me .
i would like to work on this issue .

[2020-05-16 23:36] aggarwalpulkit596 commented on #664
@jashasweejena feel free to take this one

[2020-05-16 23:37] aggarwalpulkit596 commented on #765
Closing as this is not a relevant issue anymore

[2020-05-16 23:37] #765 closed, assigned to nobody

[2020-05-16 23:38] aggarwalpulkit596 commented on #773
Duplicate #678

[2020-05-16 23:38] #773 closed, assigned to nobody

[2020-05-16 23:40] aggarwalpulkit596 commented on #754
@adarshraj365 you can start working on this

[2020-05-16 23:40] aggarwalpulkit596 commented on #742
@shivamgohri what's the issue ?

[2020-05-16 23:46] #742 closed, assigned to shivamgohri

[2020-05-16 23:52] aggarwalpulkit596 commented on #766
Duplicate #714

[2020-05-16 23:52] #766 closed, assigned to nobody

[2020-05-17 00:06] #689 closed, assigned to nobody

[2020-05-17 00:13] Dhruv-194 commented on #721
Please explain about the issue in detail. I am unable to understand what the issue is. The searchlayout is working perfectly. I am unable to understand what needs to be transparent?

[2020-05-17 03:07] jashasweejena commented on #664
Okay, sure! Will keep updating about the progress.

[2020-05-17 03:36] RaghurajThombare opened #778 "Sound/Volume control for course videos"
**Describe the feature you'd like**
There is no Separate sound control for the Videos, you have to use the mobile's volume buttons to increase or decrease the sound. If we put separate button on the video which can increase or decrease the sound it will be easier for the user.

**Screenshots**

![Screenshot (62)](https://user-images.githubusercontent.com/55155652/82135203-83be9400-981d-11ea-8b05-7

[2020-05-17 05:46] pulkitmittal19 opened #779 "'Vie..' should be replaced with 'View all' on main screen"
**Describe the feature you'd like**

In the app under **"Trending Now"** and **"learning tracks"** section. It should be **View all** or **View** instead of  **Vie** for better user understanding.

**Screenshots**

![issue_5](https://user-images.githubusercontent.com/53789333/82136785-bae97100-982e-11ea-9f97-b33547423aa4.jpg)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-05-17 06:11] Ankitchaudharyy commented on #772
I want to work to work on this issue @aggarwalpulkit596

[2020-05-17 06:11] Ankitchaudharyy commented on #772
I want to work on this issue @aggarwalpulkit596

[2020-05-17 06:13] RaghurajThombare commented on #772
i am working on it

[2020-05-17 06:33] aggarwalpulkit596 commented on #779
It's an issue for smaller screens it's already View All but with an ellipse but yeah can be done

[2020-05-17 07:57] samjain2907 opened #780 "Improve padding of the Login with otp button"
**Describe the bug**

The text in **Login with otp** button is not alligned properly. Its padding needs to be improved.

**Screenshots**

![WhatsApp Image 2020-05-17 at 13 20 18](https://user-images.githubusercontent.com/53353139/82138943-f93c5b80-9841-11ea-9099-570c48da4f28.jpeg)

**Would you like to work on the issue?**

- [ ] Yes
- [x] No
- Other:

[2020-05-17 08:09] pulkitmittal19 opened #781 "Slider should be closed when we click outside of that slider"
**Describe the feature you'd like**

**Slider** should be **closed** when we click **outside** of that slider in the **login page**. But it only gets closed when we click on that more **menu option button**.

**Screenshots**

![issue_6](https://user-images.githubusercontent.com/53789333/82139132-6bfa0680-9843-11ea-9dcb-e2de7502e073.jpg)

**Would you like to work on the issue?**

- [ ] Yes
- [x] No

[2020-05-17 08:26] pulkitmittal19 opened #782 ""Retry button " message box should be resized when no error message is there"
**Describe the feature you'd like**

On the **create account** page, the **retry button** should be **resized** instead of 100% width when there is **no error message**.

**Screenshots**

![issue_7](https://user-images.githubusercontent.com/53789333/82139447-6a314280-9845-11ea-98dc-6b8a37831487.jpg)

**Would you like to work on the issue?**

- [x] Yes
- [ ] No
- Other:

[2020-05-17 08:37] aggarwalpulkit596 commented on #782
@pulkitmittal19 i'm working on a new login flow so don't create anything related to this

[2020-05-17 08:37] #782 closed, assigned to nobody

[2020-05-17 08:38] aggarwalpulkit596 commented on #781
This is web view not android specific

[2020-05-17 08:38] #781 closed, assigned to nobody

[2020-05-17 08:38] aggarwalpulkit596 commented on #780
This is webview not android specific

[2020-05-17 08:38] #780 closed, assigned to nobody

[2020-05-17 09:59] nitinvmit opened #783 "app crashed while click on 'try it for free' button."
Every time When I am trying to take 'Graph Algorithm' Course for trial and clicking on the 'try it for free' button , the app crashes. Here is the screenshot. Please Check it out & fix it. Thank You.

![photo_2020-05-17_15-24-56](https://user-images.githubusercontent.com/61305228/82141402-2fcea200-9853-11ea-8692-29c705563c54.jpg)

[2020-05-17 11:17] shivamgohri commented on #783
Send the log details, it would be better to understand to cause of this issue! @nitinvmit

[2020-05-17 11:20] shivamgohri commented on #779
@pulkitmittal19 If you're not working on this, let me know, I'll do!

[2020-05-17 11:21] pulkitmittal19 commented on #779
Yes!!
You can work on this.

[2020-05-17 11:22] shivamgohri commented on #694
@HaripriyaB Please let me know your progress, it's been 2 days, if you're not working on this, I would love to take this up!

[2020-05-17 11:30] shivamgohri commented on #779
@pulkitmittal19 Which device was used while capturing this issue?

[2020-05-17 11:50] hardik-dua commented on #778
@RaghurajThombare are you working on it?

[2020-05-17 12:06] RaghurajThombare commented on #778
yes

[2020-05-17 12:17] HaripriyaB commented on #694
@shivamgohri give me time till next morning, If I don't make a PR then it's all yours.

[2020-05-17 13:15] shivamgohri commented on #779
@aggarwalpulkit596 (about this issue): Should I set ellipse property for "View All" TextView or for both "View All" TextView and TextView on its left, so that both sets themselves.
I can't see the output for smaller screens!

[2020-05-17 14:17] #762 closed, assigned to nobody

[2020-05-17 14:20] aggarwalpulkit596 commented on #779
i think for this we'll be needing a UI with smaller text sizes, less margin padding because ellipse is already set that's why it is showing as Vie... @shivamgohri

[2020-05-17 14:30] jddeep commented on #663
@prathamk22 Yes i m on it

[2020-05-17 16:27] #716 closed, assigned to nobody

[2020-05-17 16:43] adiig7 commented on #714
@aggarwalpulkit596 sir no PR has been made till now, can I take up this issue?

[2020-05-17 18:35] shivamgohri opened #789 ""Login with OTP" doesn't lets you login in the app"
**Describe the bug**
"Login with OTP" does not lets you log-in to the app, rather it just logs you in the app-browser but as soon as you press back, you are not logged-in and you have to log-in again!

**To Reproduce**
Firstly, log-out of the app.
1. Click on 'Login/Signup' -> click "Login with Google"
2. Type your 10-digit number in the number field
3. Click on "Login with OTP"
4. Enter the OTP y

[2020-05-18 02:15] adiig7 commented on #694
@aggarwalpulkit596 sir can I work on it?

[2020-05-18 02:33] adiig7 opened #793 "No option to change password if user forgets the password"
**Describe the bug**

There isn't any option of **Forgot password** in  login page if user forgets the password.

**To Reproduce**

1. Open the app.
2. Click on **Mobile number or email id**
3. Click on **Use email**

**Expected behavior**

There should be an option to change password by an email link if user forgets the password of his account.

**Screenshots**

![Screenshot_20200518-075820_(Debu

[2020-05-18 02:34] adiig7 commented on #793
@aggarwalpulkit596 please review this and add bounty points if its a valid issue. And I want to work on it.

[2020-05-18 06:01] HaripriyaB commented on #694
This issue is quite complex. The download work is done using vdocipher external package. I tried to browse vdocipher website and find the method but there was no option to stop a download process. I tried to use a broadcast receiver and use optionsdownloader.cancel for cancelling the ongoing download process but it didn't work. If anyone wants to try pls go ahead. I tried the whole night yesterday

[2020-05-18 06:08] aggarwalpulkit596 commented on #694
@shivamgohri @adiig7 both of you can try this out feel free to ask anything

[2020-05-18 06:32] #665 closed, assigned to nobody

[2020-05-18 07:22] aggarwalpulkit596 commented on #789
@abhishek97 @championswimmer  can we add re-direct for this as well?

[2020-05-18 08:08] aggarwalpulkit596 opened #794 "Add DownloadManager"
Currently, there is no option to handle all the downloads which are currently in progress, queued or finished so we need a download manager for managing their states cancelling an individual maintaining their states etc

[2020-05-18 08:10] aggarwalpulkit596 opened #795 "Fix API Unit Test and Add Missing Unit Tests"
Fix all the unit test in onlineapi module and add the tests for missing api's

[2020-05-18 08:13] aggarwalpulkit596 opened #796 "Add Promotion Banner"
Add Promotion Banner as shown in Website to dashboard activity
<img width="1541" alt="Screenshot 2020-05-18 at 1 42 50 PM" src="https://user-images.githubusercontent.com/29139786/82189718-797bc300-990d-11ea-8fd7-ea3ee6b01964.png">

[2020-05-18 08:14] HaripriyaB commented on #796
Can I work on it?

[2020-05-18 08:14] aggarwalpulkit596 commented on #796
@HaripriyaB sure

[2020-05-18 08:15] HaripriyaB commented on #796
One doubt : should the banner be static ?

[2020-05-18 08:15] aggarwalpulkit596 commented on #796
All you need to inspect the website get the endpoint and add that endpoint to dashboard activity

[2020-05-18 08:15] aggarwalpulkit596 commented on #796
static as in ?

[2020-05-18 08:15] HaripriyaB commented on #796
okay got it clear.

[2020-05-18 08:20] aggarwalpulkit596 opened #797 "Add Leaderboard in Overview Fragment"
Add the leaderboard list in the course.
It will an optional section as all courses do not have leaderboards.
Design references are attached below
<img width="464" alt="Screenshot 2020-05-18 at 1 49 31 PM" src="https://user-images.githubusercontent.com/29139786/82190255-687f8180-990e-11ea-9c6a-4b5a8e019284.png">

[2020-05-18 08:25] aggarwalpulkit596 opened #798 "Auto Delete Expired Downloads"
Write a Worker Request which will delete the expired downloads usually they have a life of 15 days
So after 15 days, a video should be deleted automatically.

[2020-05-18 08:28] aggarwalpulkit596 opened #799 "Add announcements in Library"
Add support for announcements in course library
They should be saved into the database as well

[2020-05-18 08:58] adiig7 commented on #793
@aggarwalpulkit596 sir please let me know if its not a valid issue.

[2020-05-18 09:01] aggarwalpulkit596 commented on #793
Currently there isn't a api for this so let's keep this on hold

[2020-05-18 09:06] HaripriyaB commented on #796
The promotional banner is an image with url : https://images.codingblocks.com/img/live_web.jpg
So do I need to load this image like a banner on the dashboard or is there any other way ?

[2020-05-18 09:08] aggarwalpulkit596 commented on #796
Yes you have to load the image on dashboard

[2020-05-18 09:16] prince-09 commented on #799
Can I take this?

[2020-05-18 09:17] aggarwalpulkit596 commented on #799
@prince-09 sure go ahead

[2020-05-18 09:18] prince-09 commented on #795
Can I take this?

[2020-05-18 09:18] aggarwalpulkit596 commented on #799
You can take reference of #790 for how things should be laid out

[2020-05-18 09:31] aggarwalpulkit596 commented on #794
You can take some help from here https://github.com/VdoCipher/sample-android-app

[2020-05-18 12:53] aggarwalpulkit596 commented on #795
Go ahead

[2020-05-18 13:40] jddeep commented on #797
@aggarwalpulkit596 Will work on this

[2020-05-18 13:42] jddeep commented on #797
Can you please help me out with the reason of build failures #785 , #791 .

[2020-05-18 13:43] aggarwalpulkit596 commented on #797
Rebasing your PR should do the trick

On Mon, May 18, 2020, 7:12 PM Jaideep Prasad <notifications@github.com>
wrote:

[2020-05-18 14:05] aggarwalpulkit596 opened #801 "Some sample issue"
**Describe the feature you'd like**

**Screenshots**

**Additional context**

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-05-18 14:05] HaripriyaB opened #802 "Back button from library toolbar skips a page in between"
**Describe the bug**
As a user when I press the back button from the library header toolbar, it skips the page containing My Notes, My Bookmarks, My Downloads and Course Announcements. However when I press the system back button it doesn't skip. For more details check the gif below.

**To Reproduce**
1. Go to Library fragment from homepage(After login)
2. Click on any course present in the list
3.

[2020-05-18 14:05] #801 closed, assigned to nobody

[2020-05-18 14:20] hardik-dua commented on #736
@iamspathan bro working on this??

[2020-05-18 14:27] KmrAnish04 opened #803 "Progress bar doesn't shows realtime values in CB android Application."
**Describe the bug**
In Coding Blocks android application, the progress bar doesn't shows real time progress values after watching some videos lectures. It doesn't get updated after watching some video lectures. The progress bar only gets updated when we restart the application or click on "Continue Learning" button.

**To Reproduce**
<!--Steps to reproduce the behavior:
1. Open the coding blocks

[2020-05-18 14:42] Anish1903 commented on #803
In Coding Blocks android application, the progress bar doesn't shows real time progress values after watching some videos lectures. It doesn't get updated after watching some video lectures. The progress bar only gets updated when we restart the application or click on "Continue Learning" button.

Screenshots:

Progress bar is at 53%.

Screenshot_2020-05-18-14-34-15-43_8145aea08c2fe477f98d57a512aa

[2020-05-18 14:53] iamspathan commented on #736
Yes

[2020-05-18 15:23] aggarwalpulkit596 commented on #796
There will be a mobile-specific banner in the API response so you need to use that once it's implemented on backend

[2020-05-18 15:35] #803 closed, assigned to aggarwalpulkit596

[2020-05-18 15:36] #681 closed, assigned to nobody

[2020-05-18 15:37] HaripriyaB commented on #796
Oh! I was about to make a PR.
![Screenshot_2020-05-18-21-05-38-90_7a48d95313daa0d8bdbf7891041c354f](https://user-images.githubusercontent.com/34762451/82231957-8ddeb080-994b-11ea-8b39-9c2dd2d2f48b.png)

Okay I'll wait 👍 Pls do ping me when it's done.

[2020-05-18 15:41] thefaisalkhan commented on #796
@aggarwalpulkit596  can you explain little bit more

[2020-05-18 21:02] Dhruv-194 commented on #720
**### Suggested Edit to the issue**

The Bug
The bug is actually that the 'WhatsApp group' card is getting displayed for the course which doesn't even have dedicated 'WhatsApp groups' and therefore giving that Toast Message of "Please Join WhatsApp".

Expected behavior
The 'WhatsApp Card' should not be shown for the courses which do not have the intended WhatsApp group that is card should not be d

[2020-05-19 02:05] jddeep commented on #798
@aggarwalpulkit596 Any heads-up about how to approach for this?

[2020-05-19 02:12] jddeep commented on #794
@aggarwalpulkit596 Am taking this one.

[2020-05-19 04:06] aggarwalpulkit596 commented on #798
I have already given that make a worker request for this

[2020-05-19 04:40] jddeep commented on #648
@aggarwalpulkit596 Please can you let me know, the API endpoints so that i can set the content in the view accordingly without hardcoding.

[2020-05-19 04:43] aggarwalpulkit596 commented on #648
For that you need to explore the website on your own

[2020-05-19 04:59] #663 closed, assigned to nobody

[2020-05-19 05:04] jddeep commented on #663
@aggarwalpulkit596 shouldn't the bounty on this one should be 200 similar to #662

[2020-05-19 14:57] TanishqSanduja commented on #794
@aggarwalpulkit596 can third party libraries like PRDownloader can be used for this task.

[2020-05-19 15:01] aggarwalpulkit596 commented on #794
I don't think you'll be able to use any library but feel free to give it a try

[2020-05-19 17:43] #802 closed, assigned to nobody

[2020-05-19 18:32] #720 closed, assigned to nobody

[2020-05-19 19:43] HaripriyaB commented on #798
I have an approach. To use ScheduledExecutorService and Executors. But I'm not sure will it work on all the downloaded files. So I can work on it. But If someone else issue a PR I don't have any problem. It's all in the learning :-)

[2020-05-19 19:54] aggarwalpulkit596 commented on #798
Yes you can try that or just writing onetime worker request would do the job 😅

[2020-05-20 03:55] #737 closed, assigned to iamspathan

[2020-05-20 05:30] HaripriyaB commented on #798
The worker request is fine. But how to keep track of the files time for 15days. That's what is confusing. And each file might have different time of download so, how to go about the times.

[2020-05-20 05:37] aggarwalpulkit596 commented on #798
Whenever a particular download is completed just make  worker request that will be executed after 15 days

[2020-05-20 05:39] aggarwalpulkit596 commented on #798
if you want to make it more efficient you can do one thing to make only one WorkerRequest for a single day by keeping the date as a tag that way only worker request will be executed for one day of downloads

[2020-05-20 09:46] hardik-dua commented on #664
@jashasweejena are you working on this? is you are working on any another issue as well pls let me know I would take this one then..

[2020-05-20 13:17] #715 closed, assigned to nobody

[2020-05-20 15:39] VibhorChinda commented on #754
@adarshraj365 are you still working on this issue ??

[2020-05-20 15:44] VibhorChinda commented on #654
can i work on this ?? @NitishGadangi

[2020-05-20 19:02] shivamgohri commented on #754
@VibhorChinda I'm working on this!

[2020-05-21 09:52] Shubhamkakade06 commented on #734
Can I work on this Issue?

[2020-05-21 10:35] jashasweejena commented on #664
Yes, @hardik0899. I am working :)

[2020-05-21 12:30] lfsabcd7 commented on #799
@prince-09  are you still working on this issue?

[2020-05-21 12:34] prathamk22 commented on #724
@Sujal123456 are you working on this or should I take this??

[2020-05-21 13:40] aggarwalpulkit596 opened #828 "Add OneTap SignIn for login with email and password"
Add Auto login for logging with email and password using one tap SignIn UI
Docs: https://developers.google.com/identity/one-tap/android/get-saved-credentials

[2020-05-21 14:37] iamspathan commented on #828
I taking it :)

[2020-05-21 18:20] aggarwalpulkit596 opened #829 "Add bookmark Support for Quiz,Docs and Code Challenges"
Add bookmark support to other content types than rather than just limited to Videos

- [ ] Document - 400 Point

- [ ] Code Challenges - 300 Points

- [ ] Quizzes - 300 Points

[2020-05-22 07:11] prathamk22 commented on #829
Taking this up😄

[2020-05-22 10:42] prince-09 commented on #799
NO you can take it

[2020-05-22 11:01] iaminamkhan commented on #828
can i work on this? @aggarwalpulkit596

[2020-05-22 19:02] mrwhoknows55 commented on #686
@prince-09 you can work on  the issue if you want.

[2020-05-23 04:15] AkshobhyaP commented on #686
I would like to work on this issue.

[2020-05-23 12:04] mrwhoknows55 commented on #686
@AkshobhyaP sure!

[2020-05-23 17:43] AkshobhyaP commented on #686
@aggarwalpulkit596 as much as I can see there is no JSON or REST API for storing or retrieving favorites so how should I handle this problem. Any suggestions are welcome.

[2020-05-23 23:41] aggarwalpulkit596 commented on #686
@AkshobhyaP there is a api for as well as for retrieving the list so try to find out that thing

[2020-05-24 03:14] jddeep commented on #799
I will be taking this up

[2020-05-24 05:14] prathamk22 commented on #798
@aggarwalpulkit596 @HaripriyaB are you working on this or should I take this up?

[2020-05-24 07:04] HaripriyaB commented on #798
I haven't taken this up. So u can go ahead.

[2020-05-24 07:27] HaripriyaB commented on #754
@aggarwalpulkit596 can I take this coz there is no update from the author.

[2020-05-24 07:28] aggarwalpulkit596 commented on #754
Go ahead

[2020-05-24 08:34] VibhorChinda commented on #654
@aggarwalpulkit596 can i take up this issue ? As their is no activity on this.

[2020-05-24 08:36] aggarwalpulkit596 commented on #654
Go ahead

[2020-05-24 11:23] prathamk22 commented on #798
Cool then, I am taking this up.

[2020-05-24 13:24] #721 closed, assigned to nobody

[2020-05-24 13:31] #770 closed, assigned to nobody

[2020-05-24 13:33] #661 closed, assigned to nobody

[2020-05-24 13:37] #779 closed, assigned to nobody

[2020-05-24 17:13] Yogita98 commented on #828
@aggarwalpulkit596 What's the current status of this issue?

[2020-05-24 17:15] aggarwalpulkit596 commented on #828
@iamspathan @thelosergeek is anyone of you working on this ?

[2020-05-24 17:17] iamspathan commented on #828
🙋

[2020-05-24 17:18] iaminamkhan commented on #828
No, I'm not working on it. I thought @iamspathan was working. If he's not working, I can work on it.

[2020-05-24 17:24] Yogita98 commented on #688
@HaripriyaB What's the status of this issue?

[2020-05-25 15:37] jddeep commented on #799
@aggarwalpulkit596 Is an API interacting method with necessary path for fetching announcements already implemented here? If not this is what I came across https://online-api.codingblocks.com/api/v2/announcements. Let me know your thoughts on this

[2020-05-25 15:43] aggarwalpulkit596 commented on #799
Announcements will be specific to course only and there isn't any method
integrated as of now in the app

On Mon, May 25, 2020, 9:07 PM Jaideep Prasad <notifications@github.com>
wrote:

[2020-05-26 13:03] jddeep commented on #794
@aggarwalpulkit596 Herein we need to update the `DownloadService` class right?

[2020-05-26 13:03] shivamgohri commented on #772
@RaghurajThombare The issue has been resolved and PR is also merged! Please close this issue!
Thanks :)

[2020-05-26 13:05] aggarwalpulkit596 commented on #794
No it will be a seperate task

[2020-05-26 15:41] jddeep commented on #794
@aggarwalpulkit596 Do you want this as a Service or as a class which can be extended and used in necessary activities?

[2020-05-26 22:04] nvmav opened #846 "Not able to complete payment for course"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any course page
2. Click on choose batch at top right
3. Select batch and click proceed to buy
4. Click next at bottom right
5. choose state and click next
6. click on proceed to pay

Now razorpay loading icon is shown and app crashes. After sometime, it shows home page

**Expected behavior**
App must go to payment ga

[2020-05-27 03:14] RaghurajThombare commented on #772
@shivamgohri so i was working on this issue and i am pursing MTech so our classes and assignments are happning online but still i manage to dedicate some time for the open source as this is my first time. I find issue by myself and what i thought is in a week i will complete the issue guess what some one just did a pull request on 4th day without informing me. So i decide to not do open source aga

[2020-05-27 03:14] #772 closed, assigned to nobody

[2020-05-27 12:50] aggarwalpulkit596 commented on #846
This has been fixed but hasn't been deployed as of now.

[2020-05-27 12:50] #846 closed, assigned to nobody

[2020-05-27 14:34] VibhorChinda commented on #736
@aggarwalpulkit596 can i take this issue ??

[2020-05-27 14:43] VibhorChinda commented on #754
@HaripriyaB are you still working on this ?? Can i take this issue ??

[2020-05-27 14:54] HaripriyaB commented on #754
Yes I am. I'll be making a PR by tonight.

[2020-05-27 14:57] aggarwalpulkit596 commented on #736
Go ahead

On Wed, May 27, 2020, 8:04 PM Vibhor Chinda <notifications@github.com>
wrote:

[2020-05-28 16:02] HaripriyaB commented on #754
@VibhorChinda You go ahead with this.

[2020-05-28 19:03] #234 closed

[2020-05-28 23:55] sunchit17 commented on #736
Can I work on this ?

[2020-05-29 06:26] aggarwalpulkit596 commented on #688
This is an issue if there's no course in your enrollments which is generally a case of new account

[2020-05-29 14:24] #693 closed, assigned to nobody

[2020-05-29 14:35] #678 closed, assigned to nobody

[2020-05-29 17:37] #797 closed, assigned to nobody

[2020-05-29 19:27] aggarwalpulkit596 commented on #797
@jddeep I've deducted 100 points here because there were certain issues in your implementation.

[2020-05-29 20:24] aggarwalpulkit596 commented on #655
Fixed via https://github.com/coding-blocks/CBOnlineApp/commit/e4723fdcfd515df017a803a3e093929bf00daf15

[2020-05-29 20:25] #655 closed, assigned to nobody

[2020-05-29 21:33] #723 closed, assigned to nobody

[2020-05-29 21:33] #740 closed, assigned to nobody

[2020-05-29 21:33] #783 closed, assigned to nobody

[2020-05-29 21:33] #789 closed, assigned to nobody

[2020-05-29 21:33] #672 closed, assigned to nobody

[2020-05-30 01:51] jddeep commented on #797
@aggarwalpulkit596 No issues. Got to learn :)

[2020-05-30 10:27] aggarwalpulkit596 commented on #688
Fixed via https://github.com/coding-blocks/CBOnlineApp/commit/22f8aa5172edec69cb7416d9cd7be4e561d1af2e

[2020-05-30 10:28] #688 closed, assigned to nobody

[2020-05-30 21:32] nvmav commented on #728
@aggarwalpulkit596 This issue still exists in version 1.0.6 of app.
Also, nothing happens when I click on share via whatsapp or More buttons

[2020-05-30 22:48] aggarwalpulkit596 opened #852 "Add support for Pause/UnPause Course"

[2020-05-30 22:53] aggarwalpulkit596 opened #853 "Add support for Update Packs"
References
<img width="665" alt="Screenshot 2020-05-31 at 4 22 48 AM" src="https://user-images.githubusercontent.com/29139786/83340483-65b16300-a2f6-11ea-865a-857a2d207a39.png">

[2020-05-30 22:55] aggarwalpulkit596 opened #854 "Add app demo using Spotlight"
References
https://github.com/TakuSemba/Spotlight

[2020-05-31 08:05] prathamk22 commented on #686
anyone working on it?? Or can I work on this??

[2020-05-31 08:11] prathamk22 commented on #854
Taking up this one.

[2020-05-31 08:15] AkshobhyaP commented on #686
@prathamk22 you can work on it. I am not working on it.

[2020-05-31 14:57] vibhuti019 commented on #854
I will work on it

[2020-06-01 07:20] adiig7 commented on #778
@aggarwalpulkit596 can I work on it?

[2020-06-01 07:20] aggarwalpulkit596 commented on #778
Go ahead

[2020-06-01 07:24] adiig7 commented on #778
@aggarwalpulkit596 please assign bounty points to it.

[2020-06-01 08:41] prathamk22 commented on #854
@vibhuti019 I started working on it already. Pls take some other bug

[2020-06-01 08:59] #778 closed, assigned to nobody

[2020-06-01 09:00] #769 closed, assigned to nobody

[2020-06-01 09:10] adiig7 commented on #778
@RaghurajThombare why did you closed it? @aggarwalpulkit596 has already asked to solve this one and I have started working on it. @aggarwalpulkit596 please look into this.

[2020-06-01 09:13] RaghurajThombare commented on #778
open it under your name

[2020-06-01 09:18] RaghurajThombare commented on #778
This feature is just gimmick

[2020-06-01 15:12] prathamk22 commented on #686
@AkshobhyaP Great. Taking this up.

[2020-06-03 13:32] hardik-dua commented on #696
@HaripriyaB are you working on this ?

[2020-06-03 14:30] HaripriyaB commented on #696
nope.

[2020-06-04 06:31] #718 closed, assigned to nobody

[2020-06-05 07:12] #654 closed, assigned to nobody

[2020-06-05 07:39] hardik-dua commented on #696
Ok @HaripriyaB I want to try this one..

[2020-06-05 07:53] AkshobhyaP commented on #794
@aggarwalpulkit596 I would like to work on this issue. I plan on creating an activity from where we can manage all the downloads which can be accessed from a button in the action bar in the My Courses tab.

[2020-06-05 12:52] hardik-dua commented on #696
@aggarwalpulkit596 Bhayia I have fixed please review the PR and let me know if there are any changes.

[2020-06-05 13:34] iamhks commented on #852
Can I work on this issue?

[2020-06-05 16:28] coderrsid commented on #852
I want to take up this issue!
Can you provide with more details please @aggarwalpulkit596 !

[2020-06-06 14:51] #675 closed, assigned to nobody

[2020-06-08 06:20] hardik-dua commented on #854
@prathamk22 bro are you working on this ?

[2020-06-08 06:44] hardik-dua commented on #694
@adiig7 @shivamgohri guys are you working on this or should I take this?

[2020-06-08 08:24] prathamk22 commented on #854
Nope. You can take this up

[2020-06-08 11:16] shivamgohri commented on #694
@hardik0899 You can go ahead.

[2020-06-08 14:55] hardik-dua commented on #854
Ok Let me try this one

[2020-06-08 16:04] prathamk22 opened #859 "My Downloads Doesn't show saved Code Challenges"
In Library -> Specific Course ->My Downloads
Doesn't show the saved Code Challenges. It would be easier for user to remove the saved code challenges and access them

[2020-06-08 16:04] prathamk22 commented on #859
@aggarwalpulkit596 pls check and assign the bounty.

[2020-06-08 16:06] prathamk22 opened #860 "Save Offline Code Challenge directly from list"
We can added functionality to save the code challenges from the list rather than opening it and then saving it for offline. It would be more convenient for the user.